.section-side-bar
{
    left: 0;
    height: 100vh;
    width: 25rem;
    position: fixed;
    z-index: 1700;
    background: rgba(249, 249, 249, 0.7);
    backdrop-filter: blur(40px) opacity(100%);
    -webkit-backdrop-filter: blur(40px) opacity(100%);
    -moz-backdrop-filter: blur(40px) opacity(100%);
    -o-backdrop-filter: blur(40px) opacity(100%);
    -ms-backdrop-filter: blur(40px) opacity(100%);
    top: 0;
    border-right: 1px solid rgba(224, 224, 224, 0.7);
}

.side-list
{
    list-style: none;
    align-items: center;
    display: grid;
    justify-content: center;
}

.side-item
{
    margin-bottom: 2rem;
}

.current-item
{
    background: rgba(211, 211, 211, 0.7);
    border-radius: 5px;
    position: relative;
    z-index: -1;
    width: 200px;
    padding: 1rem 1rem;
    margin-left: -1rem;
    margin-top: -.5rem;
    margin-bottom: 1rem;
}

.side-absolute
{
    position: relative;
    margin-top: -3rem;
}

.side-item-search
{
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.side-link
{
    color: #1a1a1a;
    font-size: 16px;
    font-weight: lighter;
    margin-left: 1.5rem;
    position: absolute;
    margin-top: .2rem;
}

.create-link
{
    cursor: pointer;
}

.circus-side
{
    margin-top: 1rem;
    text-align: center;
    margin-left: -3rem;
    margin-bottom: 1rem;
}

.mulstore-icon-sidebar
{
    background: url('/images/icons/sidebar/mulstore.svg') no-repeat center;
    width: 120px;
    height: 40px;
    display: inline-block;
}

.search-box
{
    justify-content: flex-start;
    text-align: left;
    margin-left: -1rem;
}

.search-input
{
    width: 220px;
    height: 33px;
    background: rgba(211, 211, 211, 0.7);
    border-radius: 5px;
    border: none;
    color: #111111;
    font-weight: bold;
    box-sizing: border-box;
    outline: none;
    text-align: left;
    transition: 0.5s;
    padding: 0 3.5rem;
}

.icon-search
{
    background: url('/images/icons/search.svg') no-repeat center;
    width: 14.2px;
    height: 14.2px;
    margin-left: 12px;
    position: absolute;
    z-index: 900;
    float: left;
    margin-top: .75rem;
}

.search-input:focus
{
    border: 2px solid #007AFF;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,115,255,0.67);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0,115,255,0.67);
    box-shadow: 0px 0px 7px 0px rgba(0,115,255,0.67);
    
}

::placeholder 
{ /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #A0A0A0;
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder 
{ /* Internet Explorer 10-11 */
    color: #A0A0A0;
}
  
::-ms-input-placeholder 
{ /* Microsoft Edge */
    color: #A0A0A0;
    margin-left: 1rem;
}

.discover-icon
{
    background: url('/images/icons/sidebar/discover.svg') no-repeat center;
    width: 19px;
    height: 19px;
    display: inline-block;
}

.food-icon
{
    background: url('/images/icons/sidebar/food.svg') no-repeat center;
    width: 19px;
    height: 19px;
    display: inline-block;
}

.entertaiment-icon
{
    background: url('/images/icons/sidebar/entertaiment.svg') no-repeat center;
    width: 19px;
    height: 19px;
    display: inline-block;
}

.publications-icon
{
    background: url('/images/icons/sidebar/publications.svg') no-repeat center;
    width: 19px;
    height: 19px;
    display: inline-block;
}

.sell-icon
{
    background: url('/images/icons/sidebar/sells.svg') no-repeat center;
    width: 19px;
    height: 19px;
    display: inline-block;
}

.category-icon
{
    background: url('/images/icons/sidebar/categories.svg') no-repeat center;
    width: 19px;
    height: 19px;
    display: inline-block;
}

.arcade-icon
{
    background: url('/images/icons/sidebar/arcade.svg') no-repeat center;
    width: 19px;
    height: 19px;
    display: inline-block;
}

.star-icon
{
    background: url('/images/icons/sidebar/favorites.svg') no-repeat center;
    width: 19px;
    height: 19px;
    display: inline-block;
}

.sales-icon
{
    background: url('/images/icons/sidebar/sales.svg') no-repeat center;
    width: 19px;
    height: 19px;
    display: inline-block;
}

.shop-icon
{
    background: url('../images/fast-icons/shop-outline.svg') no-repeat center;
    width: 19px;
    height: 19px;
    display: inline-block;
}

.created-icon
{
    background: url('../images/fast-icons/created.svg') no-repeat center;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.calc-icon
{
    background: url('../images/fast-icons/calc.svg') no-repeat center;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.uchat-icon
{
    background: url('../images/fast-icons/chat.svg') no-repeat center;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.configuration-icon
{
    background: url('../images/fast-icons/cog.svg') no-repeat center;
    width: 18px;
    height: 18px;
    display: inline-block;
}

.logout-icon
{
    background: url('../images/fast-icons/power.svg') no-repeat center;
    width: 18px;
    height: 18px;
    display: inline-block;
}

.profile-item
{
    display: flex;
    bottom: 0;
    position: absolute;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    cursor: pointer;
    margin-bottom: 2rem;
    margin-left: 2rem;
    max-width: 460px;
}

.profile-image
{
    width: 40px;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.circle-avatar
{
    border-radius: 90px;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
}

.avatar-img
{
    width: 30px;
    background-size: cover;
    background-position: center;
    border-radius: 90px;
}

.menu-link
{
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    margin-top: 0rem;
    margin-left: .5rem;
    cursor: pointer;
    max-width: 100px;
}