<!DOCTYPE html>
<html lang="en">
<head>

    {{> head }}

</head>
<body>

    {{> shop/sheets/pay }}

    {{> shop/menus/sidebar }}

    <main class="main-page">
        <div class="main-wrappers">   
            <div class="container-wrap">

                {{> shop/menus/tabnav }}

                
                <div class="hero wrapper-row-2">
                    <div class="side-left-row-2">
                        <div class="sticky-wrapper-side">
                            <img src="/images/products/iphone-12-blue-select-2020.png" alt="" class="image-product-showed">
                            <div class="container">
                                <div class="title-center title-darker">
                                    <div class="color-available-product">
                                        <ul class="color-product-list">
                                            <li class="color-product-item">
                                                <a href="/shop/mx/products/iphone-12/pantalla-6-1-pulgadas-64gb-blanco" class="cta-link-color-product">
                                                    <div class="title-center title-darker">
                                                        <span class="color-bullet white-color-bullet"></span>
                                                        <h3 class="title-sub-heading-extra-minus">
                                                            Blanco
                                                        </h3>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="color-product-item">
                                                <a href="/shop/mx/products/iphone-12/pantalla-6-1-pulgadas-64gb-negro" class="cta-link-color-product">
                                                    <div class="title-center title-darker">
                                                        <span class="color-bullet black-color-bullet"></span>
                                                        <h3 class="title-sub-heading-extra-minus">
                                                            Negro
                                                        </h3>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="color-product-item">
                                                <a href="/shop/mx/products/iphone-12/pantalla-6-1-pulgadas-64gb-azul" class="cta-link-color-product">
                                                    <div class="title-center title-darker">
                                                        <span class="color-bullet blue-king-color-bullet"></span>
                                                        <h3 class="title-sub-heading-extra-minus">
                                                            Azul
                                                        </h3>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <h3 class="title-sub-heading-minus">
                                        Colores disponibles
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="side-right-row-2">
                        <div class="container">
                            <div class="title-left-top title-darker">
                                <h2 class="title-heading-minus">Compra el {{title}}</h2> <br> <br>
                                <h2 class="title-heading-extra-minus">2 modelos disponibles</h2>
                            </div>
                            <div class="square-column-wrap border-bottom-global">
                                <a href="/shop/mx/products/iphone-12/pantalla-5-4-pulgadas-64gb-blanco" class="square-box-minus cta-link-square-box">
                                    <div class="container">
                                        <div class="title-left-top title-darker">
                                            <h2 class="title-heading-extra-minus">
                                                iPhone 12 mini
                                            </h2>
                                            <h3 class="title-sub-heading-extra-minus">
                                                Pantalla de 5.4 pulgadas
                                            </h3>
                                            <h3 class="title-sub-heading-extra-minus gray-text">
                                                Desde $19,999
                                            </h3>
                                        </div>
                                    </div>
                                </a>
                                <a href="/shop/mx/products/iphone-12/pantalla-6-1-pulgadas-64gb-blanco" class="square-box-minus square-box_current cta-link-square-box">
                                    <div class="container">
                                        <div class="title-left-top title-darker">
                                            <h2 class="title-heading-extra-minus">
                                                iPhone 12 
                                            </h2>
                                            <h3 class="title-sub-heading-extra-minus">
                                                Pantalla de 6.1 pulgadas
                                            </h3>
                                            <h3 class="title-sub-heading-extra-minus gray-text">
                                                Desde $22,499
                                            </h3>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="title-left-top title-darker">
                                <h2 class="title-heading-extra-minus">Capacidad de memoria</h2>
                            </div>
                            <div class="square-column-wrap border-bottom-global">
                                <a href="/shop/mx/products/iphone-12/pantalla-6-1-pulgadas-64gb-blanco" class="square-box-minus square-box_current cta-link-square-box">
                                    <div class="container">
                                        {{> shop/products/iphone/mx/capacity-iphone-12-64gb }}
                                    </div>
                                </a>
                                <a href="/shop/mx/products/iphone-12/pantalla-6-1-pulgadas-128gb-blanco" class="square-box-minus cta-link-square-box">
                                    <div class="container">
                                        {{> shop/products/iphone/mx/capacity-iphone-12-128gb }}
                                    </div>
                                </a>
                                <a href="/shop/mx/products/iphone-12/pantalla-6-1-pulgadas-256gb-blanco" class="square-box-minus cta-link-square-box">
                                    <div class="container">
                                        {{> shop/products/iphone/mx/capacity-iphone-12-256gb }}
                                    </div>
                                </a>
                            </div>
                            <div class="title-left-top title-darker">
                                <h2 class="title-heading-extra-minus">Número de unidades</h2>
                            </div>
                            <div class="square-block-minus">
                                <div class="container">
                                    <div class="title-left-top title-darker">
                                        <input type="number" class="unity-count-input" placeholder="Inserte número de unidades"> <br>
                                        <h2 class="title-sub-heading-minus">Total: $</h2>
                                        
                                    </div>
                                    
                                </div>
                            </div>

                            <div class="square-block-big">
                                <div class="container"> <br>
                                    <div class="title-left-top title-darker">
                                        <h2 class="title-heading-minus">$</h2>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="headline-wrap">
                    <ul class="headline-wrap-list">
                        <li class="-headline-wrap-item">
                            <div class="title-left title-darker">
                                <h2 class="title-heading-extra-minus">
                                    Recomendaciones
                                </h2>
                            </div>
                        </li>
                    </ul>
                </div>

                <section class="hero-swiper">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                        
                            <a href="/shop/products/playstation-5" class="swiper-slide">
                                
                            </a>
                            <a href="/shop/products/playstation-5" class="swiper-slide">
                                
                            </a>
                            <a href="/shop/products/playstation-5" class="swiper-slide">
                                
                            </a>

                            <a href="/shop/products/playstation-5" class="swiper-slide">
                                
                            </a>
                        </div>
                        
                    </div>
                    <div class="swiper-button-container-left">
                        <div class="swiper-button-next"></div>
                    </div>
                    <div class="swiper-button-container-right">
                        <div class="swiper-button-prev"></div>
                    </div>
                </section>

                
                

                <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

                <script>
                    var swiper = new Swiper('.swiper-container', {
                        slidesPerView: 2.7,
                        spaceBetween: 20,
                        centeredSlides: false,
                        navigation: {
                            nextEl: '.swiper-button-next',
                            prevEl: '.swiper-button-prev',
                    },
                    });
                </script>

            </div>
        </div>        
    </div>

    

    
</body>
</html>