

    {{> shop/menus/tabnav }}

    {{> shop/menus/sidebar }}

    <main class="main-page">
        <div class="main-wrappers"> 

            <section class="hero-short wrapper-event">
                <div class="foot-wrapper-event">
                
                    <div class="foot-wrapper-event-container">
                        <ul class="foot-wrapper-event-list">
                            <li class="foot-wrapper-event-item">
                                <div class="title-left">
                                    <h3 class="titlesup-foot-wrapper-event">Evento</h3>
                                    <h2 class="title1-foot-wrapper-event">Premiere</h2>
                                    <h3 class="title2-foot-wrapper-event">El evento de la apertura de MulStore, ofertas, los mejores productos, las mejores marcas.</h3>
                                </div>
                                <div class="cta-foot-wrapper-event">
                                    <div class="btn-foot-wrapper-event">
                                        <button class="btn-join-event-foot"><ion-icon name="add"></ion-icon> Unirse al evento</button>
                                    </div>
                                    <div class="btn-foot-wrapper-event">
                                        <button class="btn-favorites-event-foot"><ion-icon name="heart-outline"></ion-icon></button>
                                        <h2 class="title1-btn-event-foot">1.5M</h2>
                                    </div>
                                    <div class="btn-foot-wrapper-event">
                                        <button class="btn-share-event-foot"><ion-icon name="share-outline"></ion-icon></button>
                                        <div class="title1-btn-event-foot">200K</div>
                                    </div>
                                </div>
                                
                            </li>
                            <li class="foot-wrapper-event-item">
                                <h2 class="titletime-foot-wrapper-event">Este evento finaliza en 28 días</h2>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
              
            <div class="container-wrap">

                <section class="hero wrapper-event-none">
                    <div class="head-wrapper-event">
                        <ul class="head-wrapper-event-list">
                            <li class="head-wrapper-event-item">
                                <div class="head-wrapper-event-subitem">
                                    <div class="title-left title-darker">
                                        <h2 class="title-heading-super-minus">Tiendas Participantes</h2> 
                                    </div>
                                    <marquee behavior="" direction="" class="marquee-companies-event">
                                        <div class="marquee-companies-event-list">
                                            <div class="marquee-companies-event-item">
                                                <div class="profile-container-squared">
                                                    <img src="/images/profile/apple.png" alt="" class="image-profile-company-squared">
                                                </div>
                                            </div>
                                            <div class="marquee-companies-event-item">
                                                <div class="profile-container-squared">
                                                    <img src="/images/profile/the-north-face.png" alt="" class="image-profile-company-squared">
                                                </div>
                                            </div>
                                            <div class="marquee-companies-event-item">
                                                <div class="profile-container-squared">
                                                    <img src="/images/profile/samsung.png" alt="" class="image-profile-company-squared">
                                                </div>
                                            </div>
                                        </div>
                                    </marquee>
                                </div>
                                <div class="head-wrapper-event-subitem">
                                    <div class="title-left title-darker">
                                        <h2 class="title-heading-extra-minus"></h2>
                                    </div>
                                </div>
                            </li>
                            <li class="head-wrapper-event-item">
                                <div class="head-wrapper-event-subitem">
                                    <div class="title-left title-darker">
                                        <h2 class="title-sub-heading-extra-minus gray-text">Evento creado por <a href="" class="cta-link-blue-auto">MulStore</a></h2> 
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="headline-wrap">
                        <ul class="headline-wrap-list">
                            <li class="headline-wrap-item">
                                <div class="title-left title-darker">
                                    <h2 class="title-heading-extra-minus">
                                        De este evento
                                    </h2>
                                </div>
                            </li>

                            <li class="headline-wrap-item">
                                
                            </li>
                        </ul>
                    </div>



                </section>

            </div>
        </div>
    </main>