

    {{> shop/sheets/pay }}

    {{> shop/menus/sidebar }}

    <main class="main-page">
        <div class="main-wrappers">   
            <div class="container-wrap">

                {{> shop/menus/tabnav }}

                <section class="head-profile-section">
                    <div class="head-profile">
                        <ul class="head-profile-list">
                            <li class="head-profile-item-flex">
                                <div class="image-profile">
                                    <img src="/images/trademarks/lacoste.png" alt="" class="profile-img-icon">
                                </div>
                                <div class="title-left">
                                    <h2 class="title-heading-extra-minus">
                                        Lacoste <ion-icon name="checkmark-circle" class="account-verif-icon"></ion-icon>
                                    </h2>
                                    <h2 class="title-sub-heading-minus">
                                        Ropa y accesorios
                                    </h2>
                                </div>
                            </li>
                            <li class="head-profile-item-flex">
                                <div class="head-profile-sub-item">
                                    <a href="" class="cta-link-rounded-white"> <ion-icon name="add" class="icon-cta-link"></ion-icon> Seguir</a>
                                </div>
                                <div class="head-profile-sub-item">
                                    <a onclick="openSuscribesheet()" class="cta-link-rounded-white"> <ion-icon name="heart" class="icon-cta-link"></ion-icon> Suscribirse</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>

                {{> shop/sheets/suscribe}}

                <div class="head-info-profile">
                    <ul class="head-info-profile-list">
                        <li class="head-info-profile-item">
                            <div class="title-center">
                                <h2 class="title-sub-heading-extra-minus gray-text">
                                    SEGUIDORES
                                </h2>
                                <h2 class="title-heading-extra-minus gray-text">
                                    235.5 K
                                </h2>
                                <h2 class="title-sub-heading-extra-minus gray-text">
                                    en el mundo
                                </h2>
                            </div>
                        </li>
                        <li class="head-info-profile-item">
                            <div class="title-center">
                                <h2 class="title-sub-heading-extra-minus gray-text">
                                    SUSCRIPTORES
                                </h2>
                                <h2 class="title-heading-extra-minus gray-text">
                                    52.4 K
                                </h2>
                                <h2 class="title-sub-heading-extra-minus gray-text">
                                    en el mundo
                                </h2>
                            </div>
                        </li>
                        <li class="head-info-profile-item">
                            <div class="title-center">
                                <h2 class="title-sub-heading-extra-minus gray-text">
                                    CATEGORIA
                                </h2>
                                <h2 class="title-heading-extra-minus gray-text">
                                    Ropa y accesorios
                                </h2>
                                <h2 class="title-sub-heading-extra-minus gray-text">
                                    y 3 más
                                </h2>
                            </div>
                        </li>
                        <li class="head-info-profile-item">
                            <div class="title-center">
                                <h2 class="title-sub-heading-extra-minus gray-text">
                                    PAÍS
                                </h2>
                                <h2 class="title-heading-extra-minus gray-text">
                                    Fráncia
                                </h2>
                                <h2 class="title-sub-heading-extra-minus gray-text">
                                    *
                                </h2>
                            </div>
                        </li>
                        <li class="head-info-profile-item">
                            <div class="title-center">
                                <h2 class="title-sub-heading-extra-minus gray-text">
                                    LUGAR
                                </h2>
                                <h2 class="title-heading-extra-minus gray-text">
                                    #36
                                </h2>
                                <h2 class="title-sub-heading-extra-minus gray-text">
                                    en ventas
                                </h2>
                            </div>
                        </li>
                        <li class="head-info-profile-item">
                            <div class="title-center">
                                <h2 class="title-sub-heading-extra-minus gray-text">
                                    SE UNIÓ EL
                                </h2>
                                <h2 class="title-heading-extra-minus gray-text">
                                    14 Abril
                                </h2>
                                <h2 class="title-sub-heading-extra-minus gray-text">
                                    2021
                                </h2>
                            </div>
                        </li>
                        <li class="head-info-profile-item">
                            <div class="title-center">
                                <h2 class="title-sub-heading-extra-minus gray-text">
                                    SEDE EN
                                </h2>
                                <h2 class="title-heading-extra-minus gray-text">
                                    Paris
                                </h2>
                                <h2 class="title-sub-heading-extra-minus gray-text">
                                    Fráncia
                                </h2>
                            </div>
                        </li>
                        <li class="head-info-profile-item">
                            <div class="title-center">
                                <h2 class="title-sub-heading-extra-minus gray-text">
                                    SITIO WEB
                                </h2>
                                <h2 class="title-heading-extra-minus gray-text">
                                    <ion-icon name="globe"></ion-icon>
                                </h2>
                                <a class="cta-link-blue">
                                    Visitar
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="headline-wrap">
                    <ul class="headline-wrap-list">
                        <div class="title-left title-darker">
                            <h2 class="title-heading-extra-minus">
                                De Lacoste
                            </h2>
                        </div>
                    </ul>
                </div>

                <div class="carousel-products">
                    <button class="cta-carousel-left">
                        <ion-icon name="ios-arrow-back" class="arrow-carousel"></ion-icon>
                    </button>
                    <ul class="carousel-products-list">
                        <li class="carousel-products-item">
                            <div class="image-container-product">
                                <img src="/images/products/lacoste-polo-ng-animal-women.png" class="product-image-lib">
                            </div>
                            <div class="title-left-top title-darker">
                                <h2 class="title-heading-super-minus">
                                    Polo Mujer Lacoste x National Geographic Animal Print
                                </h2>
                                <h3 class="title-sub-heading-extra-minus gray-text">
                                    $2,872.00
                                </h3>
                            </div>
                        </li>
                        <li class="carousel-products-item">
                            <div class="image-container-product">
                                <img src="/images/products/lacoste-polo-ng-animal-women.png" class="product-image-lib">
                            </div>
                            <div class="title-left-top title-darker">
                                <h2 class="title-heading-super-minus">
                                    Polo Mujer Lacoste x National Geographic Animal Print
                                </h2>
                                <h3 class="title-sub-heading-extra-minus gray-text">
                                    $2,872.00
                                </h3>
                            </div>
                        </li>
                        <li class="carousel-products-item">
                            <div class="image-container-product">
                                <img src="/images/products/lacoste-polo-ng-animal-women.png" class="product-image-lib">
                            </div>
                            <div class="title-left-top title-darker">
                                <h2 class="title-heading-super-minus">
                                    Polo Mujer Lacoste x National Geographic Animal Print
                                </h2>
                                <h3 class="title-sub-heading-extra-minus gray-text">
                                    $2,872.00
                                </h3>
                            </div>
                        </li>
                        <li class="carousel-products-item">
                            <div class="image-container-product">
                                <img src="/images/products/lacoste-polo-ng-animal-women.png" class="product-image-lib">
                            </div>
                            <div class="title-left-top title-darker">
                                <h2 class="title-heading-super-minus">
                                    Polo Mujer Lacoste x National Geographic Animal Print
                                </h2>
                                <h3 class="title-sub-heading-extra-minus gray-text">
                                    $2,872.00
                                </h3>
                            </div>
                        </li>
                        <li class="carousel-products-item">
                            <div class="image-container-product">
                                <img src="/images/products/lacoste-polo-ng-animal-women.png" class="product-image-lib">
                            </div>
                            <div class="title-left-top title-darker">
                                <h2 class="title-heading-super-minus">
                                    Polo Mujer Lacoste x National Geographic Animal Print
                                </h2>
                                <h3 class="title-sub-heading-extra-minus gray-text">
                                    $2,872.00
                                </h3>
                            </div>
                        </li>
                        <li class="carousel-products-item">
                            <div class="image-container-product">
                                <img src="/images/products/lacoste-polo-ng-animal-women.png" class="product-image-lib">
                            </div>
                            <div class="title-left-top title-darker">
                                <h2 class="title-heading-super-minus">
                                    Polo Mujer Lacoste x National Geographic Animal Print
                                </h2>
                                <h3 class="title-sub-heading-extra-minus gray-text">
                                    $2,872.00
                                </h3>
                            </div>
                        </li>
                    </ul>
                    <button class="cta-carousel-right">
                        <ion-icon name="ios-arrow-forward" class="arrow-carousel"></ion-icon>
                    </button>
                </div>

                <script>
                    window.addEventListener('load', function(){
                        new Glider(document.querySelector('.carousel-products-list'), {
                            slidesToShow: 5,
                            slidesToScroll: 5,
                            draggable: true,
                            arrows: {
                                prev: '.cta-carousel-left',
                                next: '.cta-carousel-right'
                            }
                        });
                    });
                </script>

                <div class="headline-wrap">
                    <ul class="headline-wrap-list">
                        <div class="title-left title-darker">
                            <h2 class="title-heading-extra-minus">
                                Más populares
                            </h2>
                        </div>
                    </ul>
                </div>

                <div class="carousel-products">
                    <button class="cta-carousel-left carousel-arrow-left-2">
                        <ion-icon name="arrow-back" class="arrow-carousel"></ion-icon>
                    </button>
                    <ul class="carousel-products-list carousel-list-2">
                        <li class="carousel-products-item">
                            <div class="image-container-product">
                                <img src="/images/products/lacoste-polo-ng-animal-women.png" class="product-image-lib">
                            </div>
                            <div class="title-left-top title-darker">
                                <h2 class="title-heading-super-minus">
                                    Polo Mujer Lacoste x National Geographic Animal Print
                                </h2>
                                <h3 class="title-sub-heading-extra-minus gray-text">
                                    $2,872.00
                                </h3>
                            </div>
                        </li>
                        <li class="carousel-products-item">
                            <div class="image-container-product">
                                <img src="/images/products/lacoste-polo-ng-animal-women.png" class="product-image-lib">
                            </div>
                            <div class="title-left-top title-darker">
                                <h2 class="title-heading-super-minus">
                                    Polo Mujer Lacoste x National Geographic Animal Print
                                </h2>
                                <h3 class="title-sub-heading-extra-minus gray-text">
                                    $2,872.00
                                </h3>
                            </div>
                        </li>
                        <li class="carousel-products-item">
                            <div class="image-container-product">
                                <img src="/images/products/lacoste-polo-ng-animal-women.png" class="product-image-lib">
                            </div>
                            <div class="title-left-top title-darker">
                                <h2 class="title-heading-super-minus">
                                    Polo Mujer Lacoste x National Geographic Animal Print
                                </h2>
                                <h3 class="title-sub-heading-extra-minus gray-text">
                                    $2,872.00
                                </h3>
                            </div>
                        </li>
                        <li class="carousel-products-item">
                            <div class="image-container-product">
                                <img src="/images/products/lacoste-polo-ng-animal-women.png" class="product-image-lib">
                            </div>
                            <div class="title-left-top title-darker">
                                <h2 class="title-heading-super-minus">
                                    Polo Mujer Lacoste x National Geographic Animal Print
                                </h2>
                                <h3 class="title-sub-heading-extra-minus gray-text">
                                    $2,872.00
                                </h3>
                            </div>
                        </li>
                        <li class="carousel-products-item">
                            <div class="image-container-product">
                                <img src="/images/products/lacoste-polo-ng-animal-women.png" class="product-image-lib">
                            </div>
                            <div class="title-left-top title-darker">
                                <h2 class="title-heading-super-minus">
                                    Polo Mujer Lacoste x National Geographic Animal Print
                                </h2>
                                <h3 class="title-sub-heading-extra-minus gray-text">
                                    $2,872.00
                                </h3>
                            </div>
                        </li>
                        <li class="carousel-products-item">
                            <div class="image-container-product">
                                <img src="/images/products/lacoste-polo-ng-animal-women.png" class="product-image-lib">
                            </div>
                            <div class="title-left-top title-darker">
                                <h2 class="title-heading-super-minus">
                                    Polo Mujer Lacoste x National Geographic Animal Print
                                </h2>
                                <h3 class="title-sub-heading-extra-minus gray-text">
                                    $2,872.00
                                </h3>
                            </div>
                        </li>
                    </ul>
                    <button class="cta-carousel-right carousel-arrow-right-2">
                        <ion-icon class="arrow-carousel" name="md-arrow-forward" ></ion-icon>
                    </button>
                </div>

                <script>
                    window.addEventListener('load', function(){
                        new Glider(document.querySelector('.carousel-list-2'), {
                            slidesToShow: 5,
                            slidesToScroll: 5,
                            draggable: true,
                            arrows: {
                                prev: '.carousel-arrow-left-2',
                                next: '.carousel-arrow-right-2'
                            }
                        });
                    });
                </script>

            </div>
        </div>
    </main>        