<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{{ title }}}</title>
    <link rel="stylesheet" href="/styles/main.built.css">
    <link rel="stylesheet" href="/styles/globalfooter.built.css">
    <link rel="stylesheet" href="/styles/globalheader.built.css">
    <link rel="stylesheet" href="/styles/fonts.built.css">

</head>
<body>

    <section class="hero-auto wrapper-intro-index">
        <div class="wrapper-translucent-back">
            <div class="tile-squared">
                <div class="container-wrap">
                    <div class="title-center-medium">
                        <img src="/images/icons/mul-logo.png" alt="" class="icon-continental-index">
                        <div class="title-heading-extra-minus">
                            Inicia sesión en MulStore
                        </div>
                        <form action="" class="access-form">
                            <div class="access-form-container">
                                <div class="access-form-item">
                                    <input type="email" placeholder="Above ID" class="access-input up-access-input" autocomplete="none" autofocus>
                                </div>
                                <div class="access-form-item">
                                    <input type="password" placeholder="Contraseña" class="access-input down-access-input" autocomplete="none">
                                </div>
                            </div>
                            <div class="cta-center">
                                <button class="cta-link-square-large-blue">Iniciar</button> <br> <br>
                                <a href="https://aboveid.abovewe.com/" class="cta-link-blue">¿No tienes cuenta? Crea un Above ID</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{> footer }}
    
</body>
</html>

