<div class="section-side-bar grey-side-bar">
    <div class="container">
        <ul class="side-list side-list-larger">
            <li class="circus-side">
                <figure class="mulstore-icon-sidebar"></figure>
            </li>
            <li class="side-item side-item-search">
                <a href="/shop/search" class="cta-link-sidebar">
                    <div class="search-box search-box-larger">
                        <span class="icon-search"></span>
                        <input type="text" class="search-input" placeholder="Buscar">
                    </div>
                </form>
            </li>
            <li class="side-item current-discover-item">
                <figure class="side-icon discover-icon"></figure><a class="side-link explore-link" href="/shop/mx/discover">Descubrir</a>
            </li>
            <li class="side-item current-shop-item">
                <figure class="side-icon publications-icon"></figure><a class="side-link create-link" href="/shop/mx/shopping">Comprar</a>
            </li>
            <li class="side-item current-sell-item">
                <figure class="side-icon sell-icon"></figure><a class="side-link create-link" href="/shop/mx/sell">Vender</a>
            </li>
            <li class="side-item current-arcade-item">
                <figure class="side-icon arcade-icon"></figure><a href="/shop/mx/arcade" class="side-link adquired">Arcade</a>
            </li>
            <li class="side-item current-sales-item">
                <figure class="side-icon sales-icon"></figure><a href="/shop/mx/sales" class="side-link calc">Ofertas</a>
            </li>
            <li class="side-item current-categories-item">
                <figure class="side-icon category-icon"></figure><a class="side-link create-link" href="/shop/mx/categories">Categorias</a>
            </li>
            <li class="side-item current-favorites-item">
                <figure class="side-icon star-icon"></figure><a href="/shop/mx/favorites" class="side-link calc">Favoritos</a>
            </li>
            <li class="profile-item grid-item-profile">
                <a href="/shop/mx/account" class="link-menu-non">
                    <span class="profile-image circle-avatar">
                        <img src="/images/icons/avatar-non-profile.svg" alt="" class="avatar-img circle-img">
                    </span>
                    <a href="/shop/mx/account" class="menu-link">{{user.name}}</a>
                </a>
            </li>
        </ul>
    </div>
</div>