<div class="sidebar-message">
    <div class="sidebar-message-container">
        <ul class="sidebar-message-list">
            <div class="sidebar-message-group">
                <div class="sidebar-message-search-box">
                    <ion-icon class="search-icon-sidebar-message" name="ios-search"></ion-icon>
                    <input type="text" class="sidebar-message-search-input" placeholder="Buscar">
                </div>
            </div>
            <a onclick="openChat(event, 'messageChat')" class="sidebar-message-item">
                <div class="sidebar-message-progileimg">
                    <img src="/images/profile/the-north-face.png" alt="" class="profile-image-message-sidebar">
                </div>
                <div class="sidebar-message-subitem">
                    <h2 class="title1-sidebar-message">The North Face</h2>
                    <h2 class="title2-sidebar-message">Deseas que te enviemos notificaciones sobre nuestros lanzamiento, productos, eventos y demas por medio de MulMessage.</h2>
                </div>
            </a>
        </ul>
    </div>
</div>