<div class="section-side-bar grey-side-bar">
    <div class="container">
        <ul class="side-list side-list-larger">
            <li class="circus-side">
                <figure class="mulstore-icon-sidebar"></figure>
            </li>
            <li class="side-item side-item-search">
                <form method="GET">
                    <div class="search-box search-box-larger">
                        <span class="icon-search"></span>
                        <input type="text" class="search-input" placeholder="Buscar" autofocus>
                    </div>
                </form>
            </li>
            <li class="side-item current-discover-item">
                <ion-icon class="sidebar-icon" name="star-outline"></ion-icon><a class="side-link" href="/mx/discover">Descubrir</a>
            </li>
            <li class="side-item current-shop-item">
                <ion-icon class="sidebar-icon" name="grid-outline"></ion-icon><a class="side-link" href="/mx/shopping">Comprar</a>
            </li>
            <li class="side-item current-arcade-item">
                <figure class="side-icon arcade-icon"></figure><a href="/mx/arcade" class="side-link">Arcade</a>
            </li>
            <li class="side-item current-message-item">
                <ion-icon class="sidebar-icon" name="chatbubble-outline"></ion-icon><a href="/mx/message" class="side-link">Message</a>
            </li>
            <li class="side-item current-sales-item">
                <ion-icon class="sidebar-icon" name="rocket-outline"></ion-icon><a href="/mx/offers" class="side-link">Ofertas</a>
            </li>
            <li class="side-item current-categories-item">
                <ion-icon class="sidebar-icon" name="layers-outline"></ion-icon><a class="side-link" href="/mx/categories">Categorias</a>
            </li>
            <li class="side-item current-favorites-item">
                <ion-icon class="sidebar-icon" name="bookmark-outline"></ion-icon><a href="/mx/saved" class="side-link">Favoritos</a>
            </li>
        </ul>
    </div>
</div>