<!DOCTYPE html>
<html lang="en">
<head>

    {{> head }}

</head>
<body>

    

    {{> shop/sheets/pay }}

    {{> shop/menus/sidebar }}

    <main class="main-page">
        <div class="main-wrappers">   
            <div class="container-wrap">

                {{> shop/menus/tabnav }}

                <section class="hero-initial wrapper-initial-section-none">
                    <a href="/shop/suite/apple/iphone/iphone-12" class="cta-link-section">
                        <video class="wrapper-video-initial" loading="lazy" poster="/images/wrappers/winter-ski_Moment.jpg" id="videoPlayer" autoplay muted autobuffer loop loadeddata waiting>
                            <source src="/videos/iphone-12-official-commercial-ad.mp4" type="video/mp4" loading="lazy">
                        </video>
                        <div class="container-blur">
                            <div class="square-blur-info">
                                <div class="blur-large-section-info blur-black">
                                    <div class="title-left-top">
                                        <h2 class="title-sub-heading">
                                            iPhone 12
                                        </h2>
                                        <h4 class="title-description">El iPhone <br> Súper. Mega. Rápido.</h4>
                                    </div>
                                    <div class="title-left-bottom-absolute">
                                        <h4 class="title-description">Descubre y <br> compra iPhone 12 aqui.</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <button onclick="soundon()" class="soundon-button-initial" id="buttonVideosoundon"><figure class="soundon-icon-initial"></figure></button>
                    <button onclick="muted()" class="muted-button-initial" id="buttonVideomuted"><figure class="muted-icon-initial"></figure></button>

                    <button onclick="play()" class="play-button-initial" id="buttonVideoplay"><figure class="play-icon-initial"></figure></button>
                    <button onclick="pause()" class="pause-button-initial" id="buttonVideopause"><figure class="pause-icon-initial"></figure></button>
                </section>

                <script> 
                    var video = document.getElementById("videoPlayer");
                    function play() { 
                        video.play(); 
                        document.getElementById("buttonVideoplay").style.display = "none";
                        document.getElementById("buttonVideopause").style.display = "block"; 
                    }

                    function pause() { 
                        video.pause(); 
                        document.getElementById("buttonVideoplay").style.display = "block";
                        document.getElementById("buttonVideopause").style.display = "none";
                    }

                    function soundon() { 
                        video.muted = true; 
                        document.getElementById("buttonVideosoundon").style.display = "none";
                        document.getElementById("buttonVideomuted").style.display = "block";
                    }

                    function muted() { 
                        video.muted = false; 
                        document.getElementById("buttonVideosoundon").style.display = "block";
                        document.getElementById("buttonVideomuted").style.display = "none";
                    }

                </script>

                <script>
                    var video = document.getElementById('videoPlayer'); video.control = false;
                </script>

                <div class="column-row-wrapper-section">
                    <section class="hero-wrappers margin-right">
                        <a href="/shop/suite/nike/jordan/psg" class="cta-link-section">
                            <div class="wrapper-column-row">
                            <div class="container-wrapper">
                                <div class="title-left-top">
                                    <h2 class="title-heading-extra-minus">
                                        JORDAN X PARIS SAINT GERMAIN
                                    </h2>
                                </div>
                            </div>
                            </div>
                        </a>
                    </section>

                    <section class="hero-wrappers wrapper-column-row">
                        <a href="" class="cta-link-section">
                            <div class="container-wrapper">
                                <div class="title-left-top">
                                    <h2 class="title-heading-extra-minus">
                                        JORDAN X PARIS SAINT GERMAIN
                                    </h2>
                                </div>
                            </div>
                        </a>
                    </section>
                </div>

                <div class="column-row-wrapper-section">
                    <section class="hero-wrappers  margin-right">
                        <a href="" class="cta-link-section">
                            <div class="wrapper-column-row">
                            <div class="container-wrapper">
                                <div class="title-left-top">
                                    <h2 class="title-heading-extra-minus">
                                        JORDAN X PARIS SAINT GERMAIN
                                    </h2>
                                </div>
                            </div>
                            </div>
                        </a>
                    </section>

                    <section class="hero-wrappers wrapper-column-row">
                        <a href="" class="cta-link-section">
                            <div class="container-wrapper">
                                <div class="title-left-top">
                                    <h2 class="title-heading-extra-minus">
                                        JORDAN X PARIS SAINT GERMAIN
                                    </h2>
                                </div>
                            </div>
                        </a>
                    </section>
                </div>

                <div class="headline-wrap">
                    <ul class="headline-wrap-list">
                        <li class="-headline-wrap-item">
                            <div class="title-left">
                                <h2 class="title-heading-extra-minus">
                                    Para ti
                                </h2>
                            </div>
                        </li>
                    </ul>
                </div>

                <section class="hero-swiper">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide swiper-slide-market">
                                <div class="swiper-slide-footer swiper-slide-footer-darker">
                                    <div class="container-wrap">
                                        <div class="title-left">
                                            <h2 class="title-heading-extra-minus">
                                                Haz tu supermecado
                                            </h2>
                                            <h3 class="title-sub-heading-extra-minus">
                                                Una variedad de productos para ti, sin salir de casa, compra y listo.
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="/shop/products/playstation-5" class="swiper-slide swiper-slide-playstation">
                                <div class="swiper-slide-footer-blur swiper-slide-footer-blur-darker">
                                    <div class="container-wrap">
                                        <ul class="swiper-slide-footer-list">
                                            <li class="swiper-slide-footer-item">
                                                <figure class="playstation-icon-bigger"></figure>
                                            </li>
                                            <li class="swiper-slide-footer-item">
                                                <div class="title-left">
                                                    <h2 class="title-heading-extra-minus">
                                                        Playstation 5
                                                    </h2>
                                                    <h3 class="title-sub-heading-extra-minus">
                                                        La potencia en un solo lugar. <br>
                                                        Juega sin limites.
                                                    </h3>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                            <div class="swiper-slide">Slide 3</div>
                            <div class="swiper-slide">Slide 4</div>
                            <div class="swiper-slide">Slide 5</div>
                            <div class="swiper-slide">Slide 6</div>
                            <div class="swiper-slide">Slide 7</div>
                            <div class="swiper-slide">Slide 8</div>
                            <div class="swiper-slide">Slide 9</div>
                            <div class="swiper-slide">Slide 10</div>
                        </div>
                        
                    </div>
                    <div class="swiper-button-container-left">
                        <div class="swiper-button-next"></div>
                    </div>
                    <div class="swiper-button-container-right">
                        <div class="swiper-button-prev"></div>
                    </div>
                </section>

                <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

                <script>
                    var swiper = new Swiper('.swiper-container', {
                        slidesPerView: 2.7,
                        spaceBetween: 20,
                        centeredSlides: false,
                        navigation: {
                            nextEl: '.swiper-button-next',
                            prevEl: '.swiper-button-prev',
                    },
                    });
                </script>

            </div>
        </div>        
    </div>

    

    
</body>
</html>