{{#each errorsName }}
<div class="alert-danger">
    <ul class="alert-list">
        {{text}}
    </ul>
</div>
{{/each}}

{{#each errorsLastname }}
<div class="alert-danger">
    <ul class="alert-list">
        {{text}}
    </ul>
</div>
{{/each}}