<header class="header-nav" id="header">
    <div class="container-header">
        <ul class="header-nav-list">
            <li class="header-nav-item">
                <h2 class="title-header-nav">
                    Welcome
                </h2>
            </li>
        </ul>
    </div>
</header>