

    <style>
        .current-menu-site-nav-records
        {
            background: #ffffff;
            border-radius: 10px;
            color: #111111;
        }

        @media (prefers-color-scheme: dark) 
        {
            .current-menu-site-nav-records
            {
                background: #444444;
                border-radius: 10px;
                color: #ffffff;
            }
        }
    </style>


    {{> shop/sheets/pay }}

    {{> shop/menus/sidebar }}

    {{> shop/menus/tabnav }}

    <main class="main-page">
        <div class="main-wrappers">   
            <div class="container-wrap">

                <section class="hero-initial-medium wrapper-initial-section-none">
                    <a class="cta-link-section">

                        

                        <video class="wrapper-video-initial" loading="lazy" poster="" id="videoPlayer" autoplay muted autobuffer loop loadeddata waiting>
                            <source src="/videos/ipad-pro.mp4" type="video/mp4" loading="lazy">
                        </video>
                        <!--- <div class="title-left-top-absolute">
                            <h2 class="title-heading-minus gradient-purple-text">
                                Descubre
                            </h2>
                        </div> --->
                        <div class="header-suite-initial">
                            <div class="header-suite-initial-container">
                                <div class="header-suite-initial-list">
                                    <div class="header-suite-initial-item">
                                        <a href="" class="cta-link-navbar-suite-initial">Mac</a>
                                    </div>
                                    <div class="header-suite-initial-item">
                                        <a href="" class="cta-link-navbar-suite-initial">iPad</a>
                                    </div>
                                    <div class="header-suite-initial-item">
                                        <a href="" class="cta-link-navbar-suite-initial">iPhone</a>
                                    </div>
                                    <div class="header-suite-initial-item">
                                        <a href="" class="cta-link-navbar-suite-initial">Watch</a>
                                    </div>
                                    <div class="header-suite-initial-item">
                                        <a href="" class="cta-link-navbar-suite-initial">TV</a>
                                    </div>
                                    <div class="header-suite-initial-item">
                                        <a href="" class="cta-link-navbar-suite-initial">Music</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container-blur">
                            <div class="square-blur-info">
                                <div class="translucent-bottom-menu-suite">
                                    <ul class="blur-squared-list">
                                        <li class="blur-squared-item">
                                            <img src="/images/profile/apple.png" alt="" class="image-profile-suite">
                                        </li>
                                        <li class="blur-squared-item">
                                            <h2 class="title1-translucent-bottom-menu">
                                                Apple <span class="verified-store"> <ion-icon class="verified-check-store" name="checkmark-circle"></ion-icon> </span>
                                            </h2>
                                            <h3 class="title2-translucent-bottom-menu">
                                                Tecnología
                                            </h3>
                                        </li>

                                        <li class="blur-squared-item-absolute-right">
                                            <a href="" class="cta-link-rounded-white"> <ion-icon name="add" class="icon-cta-link"></ion-icon> Seguir</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </a>
                    <button onclick="soundon()" class="soundon-button-initial2" id="buttonVideosoundon"><figure class="soundon-icon-initial"></figure></button>
                    <button onclick="muted()" class="muted-button-initial2" id="buttonVideomuted"><figure class="muted-icon-initial"></figure></button>

                    <button onclick="play()" class="play-button-initial2" id="buttonVideoplay"><figure class="play-icon-initial"></figure></button>
                    <button onclick="pause()" class="pause-button-initial2" id="buttonVideopause"><figure class="pause-icon-initial"></figure></button>
                </section>

                <script> 
                    var video = document.getElementById("videoPlayer");
                    function play() { 
                        video.play(); 
                        document.getElementById("buttonVideoplay").style.display = "none";
                        document.getElementById("buttonVideopause").style.display = "block"; 
                    }

                    function pause() { 
                        video.pause(); 
                        document.getElementById("buttonVideoplay").style.display = "block";
                        document.getElementById("buttonVideopause").style.display = "none";
                    }

                    function soundon() { 
                        video.muted = true; 
                        document.getElementById("buttonVideosoundon").style.display = "none";
                        document.getElementById("buttonVideomuted").style.display = "block";
                    }

                    function muted() { 
                        video.muted = false; 
                        document.getElementById("buttonVideosoundon").style.display = "block";
                        document.getElementById("buttonVideomuted").style.display = "none";
                    }

                </script>

                <script>
                    var video = document.getElementById('videoPlayer'); video.control = false;
                </script>

                <div class="suite-company-stats">
                        <ul class="suite-company-stats-list">
                            <li class="suite-company-stats-item">
                                <ion-icon class="icon-value-suite-company" name="star"></ion-icon>
                                <h3 class="titlesub-company-stats">0/5 Valoraciones</h3>
                            </li>
                            <li class="suite-company-stats-item">
                                <h2 class="title1-company-stats gray-light-text">#0</h2>
                                <h3 class="titlesub-company-stats">0 mejores compañias</h3>
                            </li>
                            <li class="suite-company-stats-item">
                                <h2 class="title1-company-stats gray-light-text">0</h2>
                                <h3 class="titlesub-company-stats">Seguidores</h3>
                            </li>
                            <li class="suite-company-stats-item">
                                <div class="flag-country-suite-company">
                                    <img src="/images/flags/north-america-caribe/us-flag.png" alt="flag" class="flag-image-country-suite-company">
                                </div>
                                <h3 class="titlesub-company-stats">De Estados Unidos</h3>
                            </li>
                            <li class="suite-company-stats-item">
                                <ion-icon class="icon-web-suite-company" name="globe-outline"></ion-icon>
                                <a href="https://apple.com/" class="titlesub-company-stats">Sitio Web</a>
                            </li>
                        </ul>
                    </div>

                {{> shop/menus/segment-suite }}

                <section class="hero-auto-height wrapper-none">

                    <div class="row-suite-2">
                        <a href="" class="row-suite-2-box">
                            <img src="/images/wrappers/watch-series6.png" alt="" class="cover-image-row-suite-2">
                            <div class="foot-row-suite-2-box">
                                <ul class="foot-row-2-suite-box-list">
                                    <li class="foot-row-2-suite-box-item">
                                        <div class="title-left">
                                            <h2 class="title-heading-super-minus">
                                                Watch Series 6
                                            </h2>
                                            <h3 class="title-sub-heading-extra-minus gray-light-text">
                                                Un futuro más saludable en tu muñeca.
                                            </h3>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </a>
                        <a href="" class="row-suite-2-box">
                            <img src="/images/wrappers/apple-fitness.jpg" alt="" class="cover-image-row-suite-2">
                            <div class="foot-row-suite-2-box">
                                <ul class="foot-row-2-suite-box-list">
                                    <li class="foot-row-2-suite-box-item">
                                        <div class="title-left">
                                            <h2 class="title-heading-super-minus">
                                                Apple Fitness +
                                            </h2>
                                            <h3 class="title-sub-heading-extra-minus gray-light-text">
                                                Una experiencia de fitness para todos, con la tecnología de Apple Watch.
                                            </h3>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </div>

                    <a href="" class="wrap-suite">
                        <img src="/images/wrappers/ipad-pro.png" alt="" class="cover-image-wrap-suite">
                        <div class="foot-wrap-suite">
                            <ul class="foot-wrap-suite-list">
                                <li class="foot-wrap-suite-item">
                                    <div class="title-left">
                                        <h2 class="title-heading-super-minus">
                                            iPad Pro
                                        </h2>
                                        <h3 class="title-sub-heading-extra-minus gray-light-text">
                                            Superpotente por el Apple M1 Chip
                                        </h3> 
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </a>

                    <div class="row-suite-2">
                        <a href="" class="row-suite-2-box">
                            <img src="/images/wrappers/watch-series6.png" alt="" class="cover-image-row-suite-2">
                            <div class="foot-row-suite-2-box">
                                <ul class="foot-row-2-suite-box-list">
                                    <li class="foot-row-2-suite-box-item">
                                        <div class="title-left">
                                            <h2 class="title-heading-super-minus">
                                                Watch Series 6
                                            </h2>
                                            <h3 class="title-sub-heading-extra-minus gray-light-text">
                                                Un futuro más saludable en tu muñeca.
                                            </h3>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </a>
                        <a href="" class="row-suite-2-box">
                            <img src="/images/wrappers/apple-fitness.jpg" alt="" class="cover-image-row-suite-2">
                            <div class="foot-row-suite-2-box">
                                <ul class="foot-row-2-suite-box-list">
                                    <li class="foot-row-2-suite-box-item">
                                        <div class="title-left">
                                            <h2 class="title-heading-super-minus">
                                                Apple Fitness +
                                            </h2>
                                            <h3 class="title-sub-heading-extra-minus gray-light-text">
                                                Una experiencia de fitness para todos, con la tecnología de Apple Watch.
                                            </h3>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </div>

                    <div class="headline-wrap">
                        <ul class="headline-wrap-list">
                            <li class="headline-wrap-item">
                                <div class="title-left title-darker">
                                    <h2 class="title-heading-extra-minus">
                                        Acerca de Apple
                                    </h2>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="description-company">
                        <div class="title-left title-darker">
                            <h3 class="title-sub-heading-extra-minus gray-light-text">
                                Apple Inc. es una empresa estadounidense que diseña y produce equipos electrónicos, software y servicios en línea. Tiene su sede central en el Apple Park, en Cupertino y la sede europea en la ciudad de Cork. Sus productos de hardware incluyen el teléfono inteligente iPhone, la tableta iPad, el ordenador personal Mac, el reproductor de medios portátil iPod, el reloj inteligente Apple Watch y el reproductor de medios digitales Apple TV. Entre el software de Apple se encuentran los sistemas operativos iOS, iPadOS, macOS, watchOS y tvOS, el explorador de contenido multimedia iTunes, la suite iWork, Final Cut Pro X, Logic Pro, Xsan y el navegador web Safari.
                            </h3>
                        </div>
                    </div>
                    
                    <div class="headline-wrap">
                        <ul class="headline-wrap-list">
                            <li class="headline-wrap-item">
                                <div class="title-left title-darker">
                                    <h2 class="title-heading-extra-minus">
                                        Directivos
                                    </h2>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="leadership-company">
                        <div class="leadership-company-container">
                            <button class="cta-link-carousel-prev" id="cta-carousel-prev-leadership">
                                <ion-icon name="chevron-back"></ion-icon>
                            </button>

                            <ul class="leadership-company-list" id="leadership-carousel">
                                <li class="leadership-company-item">
                                    <div class="profile-container-leadership">
                                        <img src="/images/profile/tim-cook.png" alt="" class="image-profile-leadership">
                                    </div>
                                    <div class="title-center title-darker">
                                        <h2 class="title-sub-heading-extra-minus">
                                            Tim Cook
                                        </h2>
                                        <h3 class="title-sub-heading-super-minus gray-light-text">
                                            CEO
                                        </h3>
                                    </div>
                                </li>
                                <li class="leadership-company-item">
                                    <div class="profile-container-leadership">
                                        <img src="/images/profile/katherine-adams.png" alt="" class="image-profile-leadership">
                                    </div>
                                    <div class="title-center title-darker">
                                        <h2 class="title-sub-heading-extra-minus">
                                            Katherine Adams
                                        </h2>
                                        <h3 class="title-sub-heading-super-minus gray-light-text">                     
                                            Senior VP and General Counsel
                                        </h3>  
                                    </div>
                                </li>
                                <li class="leadership-company-item">
                                    <div class="profile-container-leadership">
                                        <img src="/images/profile/eddy-cue.png" alt="" class="image-profile-leadership">
                                    </div>
                                    <div class="title-center title-darker">  
                                        <h2 class="title-sub-heading-extra-minus">                  
                                            Eddy Cue
                                        </h2>
                                        <h3 class="title-sub-heading-super-minus gray-light-text">                     
                                            Senior VP, Internet Software and Services
                                        </h3>  
                                    </div>
                                </li>
                                <li class="leadership-company-item">
                                    <div class="profile-container-leadership">
                                        <img src="/images/profile/craig-fed.png" alt="" class="image-profile-leadership">
                                    </div>
                                    <div class="title-center title-darker">  
                                        <h3 class="title-sub-heading-super-minus">                  
                                            Craig Federighi
                                        </h3>
                                    </div>
                                </li>
                                <li class="leadership-company-item">
                                    <div class="profile-container-leadership">
                                        <img src="/images/profile/john-gian.png" alt="" class="image-profile-leadership">
                                    </div>
                                    <div class="title-center title-darker">  
                                        <h3 class="title-sub-heading-super-minus">                  
                                            John Giannandrea
                                        </h3>
                                    </div>
                                </li>
                                <li class="leadership-company-item">
                                    <div class="profile-container-leadership">
                                        <img src="/images/profile/greg-joz.png" alt="" class="image-profile-leadership">
                                    </div>
                                    <div class="title-center title-darker">  
                                        <h3 class="title-sub-heading-super-minus">                  
                                            Greg “Joz” Joswiak
                                        </h3>
                                    </div>
                                </li>
                                <li class="leadership-company-item">
                                    <div class="profile-container-leadership">
                                        <img src="/images/profile/eddy-cue.png" alt="" class="image-profile-leadership">
                                    </div>
                                    <div class="title-center title-darker">  
                                        <h3 class="title-sub-heading-super-minus">                  
                                            Sabih Khan
                                        </h3>
                                    </div>
                                </li>
                                <li class="leadership-company-item">
                                    <div class="profile-container-leadership">
                                        <img src="/images/profile/eddy-cue.png" alt="" class="image-profile-leadership">
                                    </div>
                                    <div class="title-center title-darker">  
                                        <h3 class="title-sub-heading-super-minus">                  
                                            Luca Maestri
                                        </h3>
                                    </div>
                                </li>
                                <li class="leadership-company-item">
                                    <div class="profile-container-leadership">
                                        <img src="/images/profile/eddy-cue.png" alt="" class="image-profile-leadership">
                                    </div>
                                    <div class="title-center title-darker">  
                                        <h3 class="title-sub-heading-super-minus">                  
                                            Deirdre O’Brien
                                        </h3>
                                    </div>
                                </li>
                                <li class="leadership-company-item">
                                    <div class="profile-container-leadership">
                                        <img src="/images/profile/eddy-cue.png" alt="" class="image-profile-leadership">
                                    </div>
                                    <div class="title-center title-darker"> 
                                        <h3 class="title-sub-heading-extra-minus">
                                            Johny Srouji
                                        </h3> 
                                        <h3 class="title-sub-heading-super-minus">                  
                                            Johny Srouji
                                        </h3>
                                    </div>
                                </li>
                            </ul>

                            <button class="cta-link-carousel-next" id="cta-carousel-next-leadership">
                                <ion-icon name="chevron-forward"></ion-icon>
                            </button>
                        </div>
                    </div>
                </section>
                

                
            </div>        
        </div>        
    </main>

