

    <style>
        .current-menu-site-nav-store
        {
            background: #ffffff;
            border-radius: 10px;
            color: #111111;
        }

        @media (prefers-color-scheme: dark) 
        {
            .current-menu-site-nav-store
            {
                background: #444444;
                border-radius: 10px;
                color: #ffffff;
            }
        }
    </style>


    {{> shop/sheets/pay }}

    {{> shop/menus/sidebar }}

    {{> shop/menus/tabnav }}

    <main class="main-page">
        <div class="main-wrappers">   
            <div class="container-wrap">

                <div class="store-header">
                    <div class="store-header-container">
                        <ul class="store-header-list">
                            <li class="store-header-item">
                                <img src="/images/profile/apple.png" alt="" class="image-profile-store-header">
                                <div class="title-left title-darker">
                                    <h2 class="title1-store-header">Apple <span class="verified-store"> <ion-icon class="verified-check-store" name="checkmark-circle"></ion-icon> </span> </h2>
                                </div>
                            </li>
                            <li class="store-header-item">
                                <a href="" class="cta-link-rounded-white"> <ion-icon name="add" class="icon-cta-link"></ion-icon> Seguir</a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="store-header">
                    <div class="store-header-container">
                        <ul class="store-header-list">
                            <li class="store-header-item">  
                                <a href="" class="cta-link-store-header">Mac</a>
                            </li>
                            <li class="store-header-item">
                                <a href="" class="cta-link-store-header">iPad</a>
                            </li>
                            <li class="store-header-item">
                                <a href="" class="cta-link-store-header">Watch</a>
                            </li>
                            <li class="store-header-item">
                                <a href="" class="cta-link-store-header">TV</a>
                            </li>
                            <li class="store-header-item">
                                <a href="" class="cta-link-store-header">Music</a>
                            </li>

                        </ul>
                    </div>
                </div>    

                {{> shop/menus/segment-suite }}

                <div class="shelf-carousel">
                    <div class="shelf__carousel__container">
                        <button class="cta-link-carousel-prev" id="ctaCarouselprevrow">
                            <ion-icon name="chevron-back"></ion-icon>
                        </button>

                        <ul class="shelf-carousel-list" id="carousel-slide-1">
                            <li class="shelf-carousel-item">
                                <a href="/mx/section/lacoste-polaroid" class="square-shelf-carousel-big"><img class="image-square-shelf-carousel-small" src="/images/wrappers/imac-2021.jpg" alt=""></a>
                                <div class="title-left">
                                    <h2 class="blue-text square-shelf-carousel-big-titleup">Nuevo</h2>
                                    <a href="/shop/mx/section/lacoste-polaroid" class="square-shelf-carousel-big-title1">iMac 24”</a>
                                    <h3 class="square-shelf-carousel-big-title2">Dile hola a la nueva iMac</h3>
                                </div>
                            </li>
                            <li class="shelf-carousel-item">
                                <a href="/mx/tips/shoplist" class="square-shelf-carousel-big"><img class="image-square-shelf-carousel-small" src="/images/wrappers/airtags-2021.png" alt=""></a>
                                <div class="title-left">
                                    <h2 class="square-shelf-carousel-big-titleup">Nuevo</h2>
                                    <a href="/shop/mx/tips/shoplist" class="square-shelf-carousel-big-title1">AirTag</a>
                                    <h3 class="square-shelf-carousel-big-title2">Pierde la costumbre de perder las cosas</h3>
                                </div>
                            </li>
                            <li class="shelf-carousel-item">
                                <a href="/mx/whats-new/events" class="square-shelf-carousel-big"><img class="image-square-shelf-carousel-small" src="/images/wrappers/apple-tv-4k.jpg" alt=""></a>
                                <div class="title-left">
                                    <h2 class="square-shelf-carousel-big-titleup">Nuevo</h2>
                                    <a href="/mx/whats-new/events" class="square-shelf-carousel-big-title1">Apple TV 4K</a>
                                    <h3 class="square-shelf-carousel-big-title2">Redefinimos la TV</h3>
                                </div>
                            </li>
                        </ul>

                        <button class="cta-link-carousel-next" id="ctaCarouselnextrow">
                            <ion-icon name="chevron-forward"></ion-icon>
                        </button>
                    </div>
                </div>

                <div class="headline-wrap">
                    <ul class="headline-wrap-list">
                        <li class="headline-wrap-item">
                            <div class="title-left title-darker">
                                <h2 class="title-heading-extra-minus">
                                    Lo mejor de Apple
                                </h2>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="shelf-carousel">
                    <div class="shelf__carousel__container">
                        <button class="cta-link-carousel-prev" id="ctaCarouselprev">
                            <ion-icon name="chevron-back"></ion-icon>
                        </button>

                        <ul class="shelf-carousel-list" id="carousel-slide-2">
                            <li class="shelf-carousel-item">
                                <a href="/mx/events/first-night" class="product-shelf-carousel-small"><img class="image-product-carousel-small" src="/images/products/iphone-12-purple.png" alt=""></a>
                                <div class="title-left">
                                    <h2 class="square-shelf-carousel-small-titleup"> <span class="blue-text">Oferta</span> </h2>
                                    <a href="/mx/events/first-night" class="square-shelf-carousel-small-title1">iPhone 12 Morado</a>
                                    <h3 class="square-shelf-carousel-small-title2"> <span class="offer-price-lined">$25,000</span> <strong class="blue-text">$19,600</strong> </h3>
                                </div>
                            </li>
                        </ul>

                        <button class="cta-link-carousel-next" id="ctaCarouselnext">
                            <ion-icon name="chevron-forward"></ion-icon>
                        </button>
                    </div>
                </div>

                <div class="butters-row-2">
                    <div class="butters-row-2-container">
                        <a href="/mx/trend" class="butter-row-2-item">
                            <div class="butter-content">
                                <div class="title-left title-darker">
                                    <h2 class="butter-title1">
                                        Tendencias
                                    </h2>
                                    <h2 class="butter-title2">
                                        Productos que estan en la cima en este momento.
                                    </h2>
                                </div>
                                <ul class="butter-list-content">
                                    <li class="butter-item-content-flex">
                                        <div class="butter-subitem-content">
                                            <span class="trend-number-butter">1</span>
                                        </div>
                                        <div class="butter-subitem-content">
                                            <img src="/images/products/airpods-pro.png" alt="" class="butter-product-contemnt-img">
                                        </div>
                                        <div class="butter-subitem-content">
                                            <div class="title-left">
                                                <h2 class="butter-titleup-subitem">
                                                    Apple
                                                </h2>
                                                <h2 class="butter-title1-subitem">
                                                    AirPods Pro 
                                                </h2>
                                                <h2 class="butter-title2-subitem">
                                                    $5,350.00
                                                </h2>
                                            </div>
                                        </div>
                                        <div class="cta-butter-subitemm">
                                            <ion-icon class="cta-link-butter-subitem" name="ios-arrow-forward"></ion-icon>
                                        </div>
                                    </li>
                                    <li class="butter-item-content-flex">
                                        <div class="butter-subitem-content">
                                            <span class="trend-number-butter">2</span>
                                        </div>
                                        <div class="butter-subitem-content">
                                            <img src="/images/products/airpods-pro.png" alt="" class="butter-product-contemnt-img">
                                        </div>
                                        <div class="butter-subitem-content">
                                            <div class="title-left">
                                                <h2 class="butter-titleup-subitem">
                                                    Apple
                                                </h2>
                                                <h2 class="butter-title1-subitem">
                                                    AirPods 
                                                </h2>
                                                <h2 class="butter-title2-subitem">
                                                    $5,350.00
                                                </h2>
                                            </div>
                                        </div>
                                        <div class="cta-butter-subitemm">
                                            <ion-icon class="cta-link-butter-subitem" name="ios-arrow-forward"></ion-icon>
                                        </div>
                                    </li>
                                    <li class="butter-item-content-flex">
                                        <div class="butter-subitem-content">
                                            <span class="trend-number-butter">3</span>
                                        </div>
                                        <div class="butter-subitem-content">
                                            <img src="/images/products/airpods-pro.png" alt="" class="butter-product-contemnt-img">
                                        </div>
                                        <div class="butter-subitem-content">
                                            <div class="title-left">
                                                <h2 class="butter-titleup-subitem">
                                                    Apple
                                                </h2>
                                                <h2 class="butter-title1-subitem">
                                                    AirPods 
                                                </h2>
                                                <h2 class="butter-title2-subitem">
                                                    $5,350.00
                                                </h2>
                                            </div>
                                        </div>
                                        <div class="cta-butter-subitemm">
                                            <ion-icon class="cta-link-butter-subitem" name="ios-arrow-forward"></ion-icon>
                                        </div>
                                    </li>
                                    <li class="butter-item-content-flex">
                                        <div class="butter-subitem-content">
                                            <span class="trend-number-butter">4</span>
                                        </div>
                                        <div class="butter-subitem-content">
                                            <img src="/images/products/airpods-pro.png" alt="" class="butter-product-contemnt-img">
                                        </div>
                                        <div class="butter-subitem-content">
                                            <div class="title-left">
                                                <h2 class="butter-titleup-subitem">
                                                    Apple
                                                </h2>
                                                <h2 class="butter-title1-subitem">
                                                    AirPods
                                                </h2>
                                                <h2 class="butter-title2-subitem">
                                                    $5,350.00
                                                </h2>
                                            </div>
                                        </div>
                                        <div class="cta-butter-subitemm">
                                            <ion-icon class="cta-link-butter-subitem" name="ios-arrow-forward"></ion-icon>
                                        </div>
                                    </li>
                                    <li class="butter-item-content-flex">
                                        <div class="butter-subitem-content">
                                            <span class="trend-number-butter">5</span>
                                        </div>
                                        <div class="butter-subitem-content">
                                            <img src="/images/products/airpods-pro.png" alt="" class="butter-product-contemnt-img">
                                        </div>
                                        <div class="butter-subitem-content">
                                            <div class="title-left">
                                                <h2 class="butter-titleup-subitem">
                                                    Apple
                                                </h2>
                                                <h2 class="butter-title1-subitem">
                                                    AirPods 
                                                </h2>
                                                <h2 class="butter-title2-subitem">
                                                    $5,350.00
                                                </h2>
                                            </div>
                                        </div>
                                        <div class="cta-butter-subitemm">
                                            <ion-icon class="cta-link-butter-subitem" name="ios-arrow-forward"></ion-icon>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </a>
                        <a href="/mx/trend" class="butter-row-2-item">
                            <div class="butter-content">
                                <div class="title-left title-darker">
                                    <h2 class="butter-title1">
                                        Recomendamos
                                    </h2>
                                    <h2 class="butter-title2">
                                        Aquí te recomendamos lo mejor que hay.
                                    </h2>
                                </div>
                                <ul class="butter-list-content">
                                    <li class="butter-item-content-flex">
                                        <div class="butter-subitem-content">
                                            <span class="trend-number-butter">1</span>
                                        </div>
                                        <div class="butter-subitem-content">
                                            <img src="/images/products/airpods-pro.png" alt="" class="butter-product-contemnt-img">
                                        </div>
                                        <div class="butter-subitem-content">
                                            <div class="title-left">
                                                <h2 class="butter-titleup-subitem">
                                                    Apple
                                                </h2>
                                                <h2 class="butter-title1-subitem">
                                                    AirPods Pro 
                                                </h2>
                                                <h2 class="butter-title2-subitem">
                                                    $5,350.00
                                                </h2>
                                            </div>
                                        </div>
                                        <div class="cta-butter-subitemm">
                                            <ion-icon class="cta-link-butter-subitem" name="chevron-forward"></ion-icon>
                                        </div>
                                    </li>
                                    <li class="butter-item-content-flex">
                                        <div class="butter-subitem-content">
                                            <span class="trend-number-butter">2</span>
                                        </div>
                                        <div class="butter-subitem-content">
                                            <img src="/images/products/airpods-pro.png" alt="" class="butter-product-contemnt-img">
                                        </div>
                                        <div class="butter-subitem-content">
                                            <div class="title-left">
                                                <h2 class="butter-titleup-subitem">
                                                    Apple
                                                </h2>
                                                <h2 class="butter-title1-subitem">
                                                    AirPods 
                                                </h2>
                                                <h2 class="butter-title2-subitem">
                                                    $5,350.00
                                                </h2>
                                            </div>
                                        </div>
                                        <div class="cta-butter-subitemm">
                                            <ion-icon class="cta-link-butter-subitem" name="chevron-forward"></ion-icon>
                                        </div>
                                    </li>
                                    <li class="butter-item-content-flex">
                                        <div class="butter-subitem-content">
                                            <span class="trend-number-butter">3</span>
                                        </div>
                                        <div class="butter-subitem-content">
                                            <img src="/images/products/airpods-pro.png" alt="" class="butter-product-contemnt-img">
                                        </div>
                                        <div class="butter-subitem-content">
                                            <div class="title-left">
                                                <h2 class="butter-titleup-subitem">
                                                    Apple
                                                </h2>
                                                <h2 class="butter-title1-subitem">
                                                    AirPods 
                                                </h2>
                                                <h2 class="butter-title2-subitem">
                                                    $5,350.00
                                                </h2>
                                            </div>
                                        </div>
                                        <div class="cta-butter-subitemm">
                                            <ion-icon class="cta-link-butter-subitem" name="chevron-forward"></ion-icon>
                                        </div>
                                    </li>
                                    <li class="butter-item-content-flex">
                                        <div class="butter-subitem-content">
                                            <span class="trend-number-butter">4</span>
                                        </div>
                                        <div class="butter-subitem-content">
                                            <img src="/images/products/airpods-pro.png" alt="" class="butter-product-contemnt-img">
                                        </div>
                                        <div class="butter-subitem-content">
                                            <div class="title-left">
                                                <h2 class="butter-titleup-subitem">
                                                    Apple
                                                </h2>
                                                <h2 class="butter-title1-subitem">
                                                    AirPods
                                                </h2>
                                                <h2 class="butter-title2-subitem">
                                                    $5,350.00
                                                </h2>
                                            </div>
                                        </div>
                                        <div class="cta-butter-subitemm">
                                            <ion-icon class="cta-link-butter-subitem" name="chevron-forward"></ion-icon>
                                        </div>
                                    </li>
                                    <li class="butter-item-content-flex">
                                        <div class="butter-subitem-content">
                                            <span class="trend-number-butter">5</span>
                                        </div>
                                        <div class="butter-subitem-content">
                                            <img src="/images/products/airpods-pro.png" alt="" class="butter-product-contemnt-img">
                                        </div>
                                        <div class="butter-subitem-content">
                                            <div class="title-left">
                                                <h2 class="butter-titleup-subitem">
                                                    Apple
                                                </h2>
                                                <h2 class="butter-title1-subitem">
                                                    AirPods 
                                                </h2>
                                                <h2 class="butter-title2-subitem">
                                                    $5,350.00
                                                </h2>
                                            </div>
                                        </div>
                                        <div class="cta-butter-subitemm">
                                            <ion-icon class="cta-link-butter-subitem" name="chevron-forward"></ion-icon>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="headline-wrap">
                    <ul class="headline-wrap-list">
                        <li class="headline-wrap-item">
                            <div class="title-left title-darker">
                                <h2 class="title-heading-extra-minus">
                                    Tendencias
                                </h2>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="shelf-carousel">
                    <div class="shelf__carousel__container">
                        <button class="cta-link-carousel-prev cta-link-carousel-prev2">
                            <ion-icon name="chevron-back"></ion-icon>
                        </button>

                        <ul class="shelf-carousel-list2">
                           <li class="shelf__carousel__item">
                                <a href="/mx/events/first-night" class="product-shelf-carousel-small"><img class="image-product-carousel-small" src="/images/products/iphone-12-purple.png" alt=""></a>
                                <div class="title-left">
                                    <a href="/mx/events/first-night" class="square-shelf-carousel-small-title1">iPhone 12 Morado</a>
                                    <h3 class="square-shelf-carousel-small-title2"> $19,600 </h3>
                                </div>
                            </li>
                        </ul>

                        <button class="cta-link-carousel-next cta-link-carousel-next2">
                            <ion-icon name="chevron-forward"></ion-icon>
                        </button>
                    </div>
                </div>

                
            </div>        
        </div>        
    </main>

    <script>
        window.addEventListener('scroll', function () {
            let segmentSuitenav = document.getElementById('segmentSuite');
            let windowPosition = window.scrollY > 100;
            segmentSuitenav.classList.toggle('segment-suite-nav-active', windowPosition);
        });
    </script>

