<div class="title-left-top title-darker">
    <h2 class="title-sub-heading">
        256 <small>GB</small> 
    </h2>
    <h3 class="title-sub-heading-extra-minus">
        $24,499.00
    </h3>
</div>