<div class="suscribe-sheet" id="suscribeSheet">
    <div class="suscribe-box">
        
        <div class="suscribe-header">
            <div class="suscribe-header-mask">
            <ul class="suscribe-header-list">
                <li class="suscribe-header-item">
                    <img src="/images/trademarks/lacoste.png" alt="" class="icon-mark-suscribe">
                </li>
            </ul>
            </div>
        </div>
        <div class="suscribe-body">
            <ul class="suscribe-body-list">
                <li class="suscribe-body-item">
                    <div class="container">
                        <div class="title-center-top title-darker">
                            <h3 class="title-sub-heading-minus gray-text">
                                Lacoste
                            </h3>
                            <h2 class="title-heading-extra-minus">
                                Suscribete desde $349.99 al mes
                            </h2>
                            <h3 class="title-sub-heading-minus gray-text">
                                Recibe promociones, regalos, ofertas, descuentos y mucho más que Lacoste te puede ofrecer.
                            </h3>
                        </div>
                        <div class="cta-center">
                            <a onclick="openSuscribesheet2()" class="cta-link-blue">Más información</a> <br> <br>
                            <a href="" class="cta-link-square-blue">SUSCRIBIRSE</a> <br> <br>
                            <a onclick="closeSuscribesheet()" class="cta-link-blue">Ahora no</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<script>
    function openSuscribesheet() {
        document.getElementById("suscribeSheet").style.display = "block";
        document.getElementById("bodyFact").style.overflow = "hidden";
    }

    function closeSuscribesheet() {
        document.getElementById("suscribeSheet").style.display = "none";
        document.getElementById("bodyFact").style.overflow = "visible";
    }
</script>

<div class="suscribe-sheet" id="suscribeSheet2">
    <div class="suscribe-box">
    
        <div class="suscribe-body">
            <ul class="suscribe-body-list">
                <li class="suscribe-body-item">
                    <div class="container">
                        <div class="title-left-top title-darker">
                            <h3 class="title-sub-heading-minus gray-text">
                                Lacoste
                            </h3>
                            <h2 class="title-heading-extra-minus">
                                Suscripción desde $349.99 al mes.
                            </h2>
                            <h3 class="title-sub-heading-minus gray-text">
                                Que contiene la suscripción:
                            </h3>
                            <h3 class="title-sub-heading-minus gray-text">
                                - <span>Regalos por compras realizadas.</span>
                            </h3>
                            <h3 class="title-sub-heading-minus gray-text">
                                - <span>Descuentos de 15% hasta 55%</span>
                            </h3>
                            <h3 class="title-sub-heading-minus gray-text">
                                - <span>Ofertas ilimitadas.</span>
                            </h3>
                            <h3 class="title-sub-heading-minus gray-text">
                                - <span>Regalo en el més de tu cumpleaños.</span>
                            </h3>
                            <h3 class="title-sub-heading-minus gray-text">
                                - <span>Promociones en tus compras.</span>
                            </h3>
                            <h3 class="title-sub-heading-minus gray-text">
                                - <span>Acceso a productos y eventos exclusivos.</span>
                            </h3>
                            <h3 class="title-sub-heading-minus gray-text">
                                - <span>Sellos de suscripción.</span>
                            </h3>

                        </div> <br> <br>
                        <div class="cta-center">
                            <a href="" class="cta-link-square-blue">REGRESAR</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<script>
    function openSuscribesheet2() {
        document.getElementById("suscribeSheet2").style.display = "block";
        document.getElementById("suscribeSheet").style.display = "none";
        document.getElementById("bodyFact").style.overflow = "hidden";
    }

    function closeSuscribesheet2() {
        document.getElementById("suscribeSheet2").style.display = "none";
        document.getElementById("suscribeSheet").style.display = "block";
        document.getElementById("bodyFact").style.overflow = "visible";
    }
</script>