<div class="gallery-wrap">
    <div class="gallery-container">
        <div class="gallery-body">
            <div class="gallery-body-left">
                <div class="gallery-body-sides-container">
                    <img src="/images/wrappers/wwdc-2021.jpg" alt="" class="cover-image-gallery-body">
                </div>
            </div>
            <div class="gallery-body-right">
                <div class="gallery-body-right-container">
                    <div class="product-box-header">
                        <ul class="product-box-header-list">
                            <li class="product-box-header-item">
                                <img src="/images/profile/apple.png" alt="" class="profile-image-company-product">
                                <div class="title-left title-darker">
                                    <a href="/mx/suite/apple" class="title1-product-header">Apple <ion-icon class="verified-account-icon" name="checkmark-circle"></ion-icon></a>
                                </div>
                            </li>
                            <li class="product-box-header-item">
                                <button class="follow-company-header-button"><ion-icon style="margin-bottom: -.3rem; font-size: 15px;" name="add"></ion-icon> Seguir</button>
                            </li>
                        </ul>
                    </div>
                    <div class="product-description">
                        <div class="product-description-box">
                            <div class="title-left title-darker">
                                <h2 class="title1-product-description">
                                    Conferencia Mundial de Desarrolladores de Apple, del 7 al 11 de junio. Aquí está el programa. Únase a nosotros el 7 de junio a las 10 a.m. PDT como WWDC21 despega con una experiencia totalmente en línea y millones de los desarrolladores más talentosos del mundo. <span class="blue-text">#WWDC21</span> <span class="blue-text">#Apple event</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="product-box-footer">
                        <div>
                            <form class="cta-product-footer-2" action="">
                                <div class="cta-link-btn-p">
                                    <button class="btn-p-cta favorites-product-btn"> <ion-icon name="heart-outline"></ion-icon> </button>
                                    <h2 class="title1-cta-link-p">940K</h2>
                                </div>
                                <div class="cta-link-btn-p">
                                    <button class="btn-p-cta share-product-btn"> <ion-icon name="share-outline"></ion-icon> </button>
                                    <h2 class="title1-cta-link-p">130K</h2>
                                </div>
                                <div class="time-product-footer">
                                    <h2 class="title1-time-product-footer">Hace 3 días</h2>
                                </div>
                            </form>
                        </div>
                    </div> 
                        
                    <div class="product-comments" id="comments">
                        <div class="product-comments-header">
                            <ul class="product-comments-header-list">
                                <li class="product-comments-header-item">
                                    <div class="profile-box-product-comments">
                                        <span class="title-profile-initials">LR</span>
                                        <img src="" alt="" class="image-profile-product-comment">
                                    </div>
                                    <input type="text" class="product-comment-input" placeholder="Haz un comentario">
                                </li>
                                
                            </ul>
                        </div>
                        <div class="product-comments-box">
                            <ul class="product-comments-box-list">
                                <li class="product-comments-box-item">
                                    <div class="product-comments-box-item-header">
                                        <div class="profile-box-product-comments">
                                            <span class="title-profile-initials">RH</span>
                                            <img src="" alt="" class="image-profile-product-comment">
                                        </div>
                                        <a href="" class="titleprofile-comment-product">
                                            Rodrigo Hernandez
                                        </a>
                                    </div>
                                    <div class="product-comments-box-item-body">
                                        <h2 class="text-comment-product">
                                            Lorem ipsum dolor, sit amet conse
                                        </h2>
                                    </div>
                                </li>
                                <li class="product-comments-box-item">
                                    <div class="product-comments-box-item-header">
                                        <div class="profile-box-product-comments">
                                            <span class="title-profile-initials">JT</span>
                                            <img src="" alt="" class="image-profile-product-comment">
                                        </div>
                                        <a href="" class="titleprofile-comment-product">
                                            Juan Torres Pérez
                                        </a>
                                    </div>
                                    <div class="product-comments-box-item-body">
                                        <h2 class="text-comment-product">
                                            Excelente producto, recomendado 100%
                                        </h2>
                                    </div>
                                    <div class="answer-product-comment">
                                        <div class="cta-answer-product-comment">
                                            <a class="cta-link-answer-product-comment" id="answerProductcomment">Ver más respuestas (2)</a>
                                        </div>
                                        <div class="panel answer-panel-product-comment">
                                            <ul class="answer-panel-product-comment-list">
                                                <li class="answer-panel-product-comment-item">
                                                    <div class="product-comments-box-item-header">
                                                        <div class="profile-box-product-comments">
                                                            <span class="title-profile-initials">AS</span>
                                                            <img src="" alt="" class="image-profile-product-comment">
                                                        </div>
                                                        <a href="" class="titleprofile-comment-product">
                                                            Antonio Suarez Garrido
                                                        </a>
                                                    </div>
                                                    <h2 class="text-comment-product">
                                                        Es más rapido que el iPhone 11?
                                                    </h2>
                                                </li>
                                                <li class="answer-panel-product-comment-item">
                                                    <div class="product-comments-box-item-header">
                                                        <div class="profile-box-product-comments">
                                                            <span class="title-profile-initials">JT</span>
                                                            <img src="" alt="" class="image-profile-product-comment">
                                                        </div>
                                                        <a href="" class="titleprofile-comment-product">
                                                            Juan Torres Pérez
                                                        </a>
                                                    </div>
                                                    <h2 class="text-comment-product">
                                                        Si!, mucho mejor, te lo recomiendo.
                                                    </h2>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>   
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>