<!DOCTYPE html>
<html lang="en">
<head>

    {{> head }}

</head>
<body>

    

    {{> shop/sheets/pay }}

    {{> shop/menus/sidebar }}

    <main class="main-page">
        <div class="main-wrappers">   
            <div class="container-wrap">

                {{> shop/menus/tabnav }}

                <section class="hero-initial-larger wrapper-initial-section-none">
                    <a href="/shop/arcade/games/visage" class="cta-link-section">
                        <video class="wrapper-video-initial" loading="lazy" poster="/images/wrappers/winter-ski_Moment.jpg" id="videoPlayer" autoplay muted autobuffer loop loadeddata waiting>
                            <source src="/videos/visage-trailer.mp4" type="video/mp4" loading="lazy">
                        </video>
                        <div class="title-left-top-absolute">
                            <h2 class="title-heading-minus gradient-purple-text">
                                Arcade
                            </h2>
                        </div>
                        <div class="container-blur">
                            <div class="square-blur-info">
                                <div class="blur-squared-section-info blur-black">
                                    <ul class="blur-squared-list">
                                        <li class="blur-squared-item">
                                            <a href="/shop/arcade/games/visage" class="cta-link-square-white-larger">Jugar</a>
                                        </li>
                                        <li class="blur-squared-item">
                                            <div class="title-left">
                                                <h4 class="title-tag purple-text">
                                                    Terror
                                                </h4>
                                                <h2 class="title-heading-extra-minus">
                                                    Visage
                                                </h2>
                                                <h3 class="title-sub-heading-minus gray-light-text">
                                                    Explora tus peores miedos y el terror profundo.
                                                </h3>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </a>
                    <button onclick="soundon()" class="soundon-button-initial-transparent" id="buttonVideosoundon"><figure class="soundon-icon-initial"></figure></button>
                    <button onclick="muted()" class="muted-button-initial-transparent" id="buttonVideomuted"><figure class="muted-icon-initial"></figure></button>

                    <button onclick="play()" class="play-button-initial-transparent" id="buttonVideoplay"><figure class="play-icon-initial"></figure></button>
                    <button onclick="pause()" class="pause-button-initial-transparent" id="buttonVideopause"><figure class="pause-icon-initial"></figure></button>
                </section>

                <script> 
                    var video = document.getElementById("videoPlayer");
                    function play() { 
                        video.play(); 
                        document.getElementById("buttonVideoplay").style.display = "none";
                        document.getElementById("buttonVideopause").style.display = "block"; 
                    }

                    function pause() { 
                        video.pause(); 
                        document.getElementById("buttonVideoplay").style.display = "block";
                        document.getElementById("buttonVideopause").style.display = "none";
                    }

                    function soundon() { 
                        video.muted = true; 
                        document.getElementById("buttonVideosoundon").style.display = "none";
                        document.getElementById("buttonVideomuted").style.display = "block";
                    }

                    function muted() { 
                        video.muted = false; 
                        document.getElementById("buttonVideosoundon").style.display = "block";
                        document.getElementById("buttonVideomuted").style.display = "none";
                    }

                </script>

                <script>
                    var video = document.getElementById('videoPlayer'); video.control = false;
                </script>

                <div class="column-row-wrapper-section">
                    <section class="hero-wrappers margin-right">
                        <a href="/shop/suite/nike/jordan/psg" class="cta-link-section">
                            <div class="wrapper-column-row">
                            <div class="container-wrapper">
                                <div class="title-left-top">
                                    <h2 class="title-heading-extra-minus">
                                        JORDAN X PARIS SAINT GERMAIN
                                    </h2>
                                </div>
                            </div>
                            </div>
                        </a>
                    </section>

                    <section class="hero-wrappers wrapper-column-row">
                        <a href="" class="cta-link-section">
                            <div class="container-wrapper">
                                <div class="title-left-top">
                                    <h2 class="title-heading-extra-minus">
                                        JORDAN X PARIS SAINT GERMAIN
                                    </h2>
                                </div>
                            </div>
                        </a>
                    </section>
                </div>

                <div class="column-row-wrapper-section">
                    <section class="hero-wrappers  margin-right">
                        <a href="" class="cta-link-section">
                            <div class="wrapper-column-row">
                            <div class="container-wrapper">
                                <div class="title-left-top">
                                    <h2 class="title-heading-extra-minus">
                                        JORDAN X PARIS SAINT GERMAIN
                                    </h2>
                                </div>
                            </div>
                            </div>
                        </a>
                    </section>

                    <section class="hero-wrappers wrapper-column-row">
                        <a href="" class="cta-link-section">
                            <div class="container-wrapper">
                                <div class="title-left-top">
                                    <h2 class="title-heading-extra-minus">
                                        JORDAN X PARIS SAINT GERMAIN
                                    </h2>
                                </div>
                            </div>
                        </a>
                    </section>
                </div>

                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">Slide 1</div>
                        <div class="swiper-slide">Slide 2</div>
                        <div class="swiper-slide">Slide 3</div>
                        <div class="swiper-slide">Slide 4</div>
                        <div class="swiper-slide">Slide 5</div>
                        <div class="swiper-slide">Slide 6</div>
                        <div class="swiper-slide">Slide 7</div>
                        <div class="swiper-slide">Slide 8</div>
                        <div class="swiper-slide">Slide 9</div>
                        <div class="swiper-slide">Slide 10</div>
                    </div>

                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>

                <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

                <script>
                    var swiper = new Swiper('.swiper-container', {
                        slidesPerView: 4,
                        spaceBetween: 30,
                        centeredSlides: true,
                        navigation: {
                            nextEl: '.swiper-button-next',
                            prevEl: '.swiper-button-prev',
                    },
                    });
                </script>

            </div>
        </div>        
    </div>

    

    
</body>
</html>