*,
*::before,
*::after
{
  margin: 0;
  padding: 0;
}

html
{
  font-size: 10px;
  font-family: 'SFPro-Regular';
}

a
{

  text-decoration: none;
}

li
{
    list-style: none;
}

body
{
  background: #ffffff;
}

body::-webkit-scrollbar 
{
	width: 4px;
	height: 5px;
	margin: 1px;
	border-radius: 100px;
}
  
  /* Track */
body::-webkit-scrollbar-track 
{
	background: transparent; 
	margin: 1px;
}
   
  /* Handle */
body::-webkit-scrollbar-thumb 
{
	background: #555555; 
	transition: 0.5s;
}
  
  /* Handle on hover */
body::-webkit-scrollbar-thumb:hover 
{
	background: #333333; 
}

.main-page
{
    background: #ffffff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.main-wrappers
{
	padding-left: 25rem;
}

.container
{
	max-width: 92rem;
    margin: 0 auto;
    padding: 0 2.2rem;
}

.container-big
{
	max-width: 152rem;
    margin: 0 auto;
    padding: 0 2.2rem;
}

.container-request
{
	max-width: 122rem;
    margin: 0 auto;
    padding: 0 2.2rem;
}

.container-sections
{
	max-width: 152rem;
    margin: 0 auto;
	padding: 0 2.2rem;
	margin-left: -2.5rem;
}

.container-wrap
{
	max-width: 109rem;
    margin: 0 auto;
    padding: 0 4.3rem;
}


.container-wrap-2
{
	max-width: 104rem;
    margin: 0 auto;
    padding: 0 2.2rem;
}

.container-butter
{
	max-width: 92rem;
    margin: 0 auto;
	padding: 0 2.2rem;
	z-index: 900;
}

.container-adquired
{
	max-width: 92rem;
    margin: 0 auto;
	padding: 0 2.2rem;
}

.container-cancel-adquired
{
	max-width: 50rem;
    margin: 0 auto;
	padding: 0 2.2rem;
}

.access-form
{
    display: grid;
    margin-top: 1rem;
    margin-bottom: 2rem;
    justify-content: center;
}

.global-input-access
{
    background: rgba(230, 230, 231, 0.35);
    border-radius: 5px;
    border: 1px solid #cecece;
    color: #111111;
    font-size: 16px;
    padding: .7rem 1rem;
    margin-bottom: .5rem;
    width: 280px;
}

.global-input-access:focus
{
    outline: 3px solid rgba(0, 119, 255, 0.3);
}

.unity-count-input
{
    background: rgba(230, 230, 231, 0.35);
    border-radius: 5px;
    border: 1px solid #cecece;
    color: #111111;
    font-size: 16px;
    padding: 1rem 1rem;
    margin-bottom: .5rem;
}

.unity-count-input:focus
{
    outline: 3px solid rgba(0, 119, 255, 0.3);
}

.margin-right
{
    margin-right: 1rem;
}

.border-bottom-global
{
    border-bottom: 1px solid #cecece;
}

/* BASE PAGE ENDS */

/* ICONS STARTS */

.playstation-icon-bigger
{
    background: url('/images/icons/trademarks/playstation.svg') center no-repeat;
    width: 50px;
    height: 50px;
    display: inline-block;
}

.samsung-icon-bigger
{
    background: url('/images/icons/trademarks/samsung.svg') center no-repeat;
    width: 50px;
    height: 50px;
    display: inline-block;
}

.viktor-rodolf-icon
{
    background: url('/images/icons/trademarks/viktor-rodolf.svg') center no-repeat;
    width: 50px;
    height: 50px;
    display: inline-block;
}

.harman-kardon-icon
{
    background: url('/images/icons/trademarks/harman-kardon.svg') center no-repeat;
    width: 50px;
    height: 50px;
    display: inline-block;
}

.calvin-klein-icon
{
    background: url('/images/icons/trademarks/calvin-klein.svg') center no-repeat;
    width: 50px;
    height: 50px;
    display: inline-block;
}

/* ICONS ENDS */

/* HEADLINES */

.headline-wrap
{
    height: 5.5rem;
    border-top: 1px solid #cfcfcf;
    border-bottom: none;
    width: 100%;
}

.headline-wrap-list
{
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* HEADLINES END */

/* COMPONENTS PAGE STARTS */

.gray-text
{
    color: #686868;
}

.gray-light-text
{
    color: #9b9b9b;
}

.purple-text
{
    color: #BF5AF2;
}

.blue-text
{
    color: #007AFF;
}

.gradient-purple-text
{
    background: rgb(250,48,191);
    background: -moz-linear-gradient(29deg, rgba(250,48,191,1) 0%, rgba(192,55,255,1) 48%, rgba(141,0,255,1) 100%);
    background: -webkit-linear-gradient(29deg, rgba(250,48,191,1) 0%, rgba(192,55,255,1) 48%, rgba(141,0,255,1) 100%);
    background: linear-gradient(29deg, rgba(250,48,191,1) 0%, rgba(192,55,255,1) 48%, rgba(141,0,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fa30bf",endColorstr="#8d00ff",GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title-center
{
    justify-content: center;
    text-align: center;
    color: #ffffff;
}

.title-center-top
{
    justify-content: center;
    text-align: center;
    padding-top: 2rem;
    color: #ffffff;
}

.title-center-bottom
{
    justify-content: center;
    text-align: center;
    padding-top: 27rem;
    color: #ffffff;
}

.title-center-medium
{
    justify-content: center;
    text-align: center;
    padding-top: 12rem;
    color: #ffffff;
}

.title-left-medium
{
    justify-content: flex-start;
    text-align: left;
    padding-top: 12rem;
    color: #ffffff;
}

.title-left
{
    justify-content: flex-start;
    text-align: left;
    color: #ffffff;
}

.title-left-short
{
    justify-content: flex-start;
    text-align: left;
    color: #ffffff;
    max-width: 170px;
}

.title-left-top
{
    justify-content: flex-start;
    text-align: left;
    padding-top: 1rem;
    color: #ffffff;
}

.title-left-top-absolute
{
    margin-top: 3rem;
    margin-left: 3.5rem;
    color: #ffffff;
    top: 0;
    left: 0;
    z-index: 60;
    position: absolute;
}

.title-left-top-absolute-extreme
{
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    color: #ffffff;
    top: 0;
    left: 0;
    z-index: 60;
    position: absolute;
}

.title-left-bottom
{
    justify-content: flex-start;
    text-align: left;
    padding-top: 27rem;
    color: #ffffff;
}

.title-left-medium
{
    justify-content: flex-start;
    text-align: left;
    padding-top: 12rem;
    color: #ffffff;
}

.title-left-bottom-absolute
{
    justify-content: flex-start;
    text-align: left;
    display: block;
    position: absolute;
    bottom: 0;
    margin-bottom: 3rem;
    color: #ffffff;
}

.title-right
{
    justify-content: flex-end;
    text-align: right;
    color: #ffffff;
}

.title-right-top
{
    justify-content: flex-end;
    text-align: right;
    padding-top: 2rem;
    color: #ffffff;
}

.title-right-bottom
{
    justify-content: flex-end;
    text-align: right;
    padding-top: 27rem;
    color: #ffffff;
}


.title-right-medium
{
    justify-content: flex-end;
    text-align: right;
    padding-top: 12rem;
    color: #ffffff;
}

.title-darker
{
    color: #111111;
}

.cta-center
{
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
}

.cta-left
{
    justify-content: flex-start;
    text-align: left;
    margin-top: 2rem;
}

.cta-right
{
    justify-content: flex-end;
    text-align: right;
    margin-top: 2rem;
}

.title-heading
{
    font-size: 5.6rem;
    letter-spacing: -.005rem;
    line-height: 1.07143;
    margin-bottom: .6rem;
}

.title-heading-minus
{
    font-size: 3.5rem;
    letter-spacing: -.005rem;
    line-height: 1.07143;
    margin-bottom: .6rem;
}

.title-heading-extra-minus
{
    font-size: 2.1rem;
    letter-spacing: -.005rem;
    line-height: 1.07143;
    margin-bottom: .6rem;
}

.title-sub-heading
{
    font-size: 2.65rem;
    font-weight: lighter;
    letter-spacing: .008rem;
    margin-bottom: .6rem;
}

.title-sub-heading-medium
{
    font-size: 2rem;
    font-weight: lighter;
    letter-spacing: .008rem;
    margin-bottom: .6rem;
}

.title-sub-heading-minus
{
    font-size: 1.77rem;
    font-weight: lighter;
    letter-spacing: .008rem;
    margin-bottom: .6rem;
}

.title-sub-heading-extra-minus
{
    font-size: 1.5rem;
    font-weight: lighter;
    letter-spacing: .008rem;
    margin-bottom: .6rem;
}

.title-sub-heading-minus-mayus
{
    font-size: 1.75rem;
    font-weight: lighter;
    letter-spacing: .008rem;
    margin-bottom: .6rem;
    text-transform: uppercase;
}

.title-comingsoon
{
    font-size: 1.4rem;
    font-weight: lighter;
    letter-spacing: .004rem;
    margin-bottom: .6rem;
}

.title-price
{
    font-size: 1.3rem;
    font-weight: lighter;
    letter-spacing: .004rem;
    margin-bottom: .6rem;
}

.title-description
{
    font-size: 1.6rem;
    font-weight: lighter;
    letter-spacing: .008rem;
    margin-bottom: .6rem;
    color: #e0e0e0;
}

.title-description-minus
{
    font-size: 1.3rem;
    font-weight: lighter;
    letter-spacing: .008rem;
    margin-bottom: .6rem;
    color: #e0e0e0;
}

.title-description-darker
{
    font-size: 1.6rem;
    font-weight: lighter;
    letter-spacing: .008rem;
    margin-bottom: .6rem;
    color: #8a8a8a;
}

.title-description-minus-darker
{
    font-size: 1.3rem;
    font-weight: lighter;
    letter-spacing: .008rem;
    margin-bottom: .6rem;
    color: #8a8a8a;
}


.title-label-sheet
{
    font-size: 1.6rem;
    letter-spacing: .008rem;
    margin-bottom: .6rem;
}

.title-tag
{
    font-size: 15px;
    font-weight: lighter;
    letter-spacing: .008;
    margin-bottom: .5rem;
}

/* BUTTONS AND CTA'S */

.cta-link-blue
{
    color: #007AFF;
    font-size: 16px;
    margin-bottom: .5rem;
    transition: 0.5s;
    cursor: pointer;
}

.cta-link-blue:hover
{
    opacity: 0.5;
}

.cta-link-blue-auto
{
    color: #007AFF;
    margin-bottom: .5rem;
    transition: 0.5s;
    cursor: pointer;
}

.cta-link-blue-auto:hover
{
    opacity: 0.5;
}

.cta-link-square-blue
{
    color: #ffffff;
    font-size: 16px;
    margin-bottom: .5rem;
    transition: 0.5s;
    cursor: pointer;
    background: #007AFF;
    border-radius: 5px;
    padding: .5rem 1.5rem;
    border: none;
    outline: none;
}

.cta-link-square-blue:hover
{
    background: #30D158;
}

.cta-link-rounded-blue
{
    color: #ffffff;
    font-size: 16px;
    margin-bottom: .5rem;
    transition: 0.5s;
    cursor: pointer;
    background: #007AFF;
    border-radius: 100px;
    letter-spacing: .009px;
    padding: .5rem 1.5rem;
    display: block;
    text-align: center;
    width: 70px;
    border: none;
    outline: none;
}

.cta-link-rounded-blue:hover
{
    background: #30D158;
}

.cta-link-square-large-blue
{
    color: #ffffff;
    font-size: 16.5px;
    margin-bottom: .5rem;
    transition: 0.5s;
    cursor: pointer;
    background: #007AFF;
    border-radius: 5px;
    letter-spacing: .009px;
    padding: .5rem 5rem;
    text-align: center;
    border: none;
    outline: none;
}

.cta-link-square-large-blue:hover
{
    background: #30D158;
}

.cta-link-outline-blue
{
    color: #007AFF;
    font-size: 16px;
    margin-bottom: .5rem;
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid #007AFF;
    border-radius: 5px;
    padding: .5rem 1.5rem;
    outline: none;
}

.cta-link-outline-blue:hover
{
    opacity: 0.5;
}

.cta-link-white
{
    color: #ffffff;
    font-size: 16px;
    margin-bottom: .5rem;
    transition: 0.5s;
    cursor: pointer;
}

.cta-link-white:hover
{
    opacity: 0.5;
}

.cta-link-square-white
{
    color: #111111;
    font-size: 16px;
    margin-bottom: .5rem;
    transition: 0.5s;
    cursor: pointer;
    background: #eeeeee;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: .5rem 1.5rem;
}

.cta-link-square-white:hover
{
    background: #30D158;
    color: #ffffff;
}

.cta-link-square-white-larger
{
    color: #111111;
    font-size: 17px;
    margin-bottom: .5rem;
    transition: 0.5s;
    cursor: pointer;
    background: #eeeeee;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 1rem 4.5rem;
    box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.15);
}

.cta-link-square-white-larger:hover
{
    background: #30D158;
    color: #ffffff;
}

.cta-link-outline-white
{
    color: #ffffff;
    font-size: 16px;
    margin-bottom: .5rem;
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: .5rem 1.5rem;
}

.cta-link-outline-white:hover
{
    opacity: 0.5;
}

.cta-link-red
{
    color: #FF3B30;
    font-size: 16px;
    margin-bottom: .5rem;
    transition: 0.5s;
    cursor: pointer;
}

.cta-link-red:hover
{
    opacity: 0.5;
}

.cta-link-square-red
{
    color: #ffffff;
    font-size: 16px;
    margin-bottom: .5rem;
    transition: 0.5s;
    cursor: pointer;
    background: #FF3B30;
    border-radius: 5px;
    padding: .5rem 1.5rem;
}

.cta-link-square-red:hover
{
    opacity: 0.5;
}

.cta-link-outline-red
{
    color: #FF3B30;
    font-size: 16px;
    margin-bottom: .5rem;
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid #FF3B30;
    border-radius: 5px;
    padding: .5rem 1.5rem;
}

.cta-link-outline-red:hover
{
    opacity: 0.5;
}

.cta-link-black
{
    color: #111111;
    font-size: 16px;
    margin-bottom: .5rem;
    transition: 0.5s;
    cursor: pointer;
}

.cta-link-black:hover
{
    opacity: 0.5;
}

.cta-link-square-black
{
    color: #ffffff;
    font-size: 16px;
    margin-bottom: .5rem;
    transition: 0.5s;
    cursor: pointer;
    background: #111111;
    border-radius: 5px;
    padding: .5rem 1.5rem;
}

.cta-link-square-black:hover
{
    opacity: 0.5;
}

.cta-link-outline-black
{
    color: #111111;
    font-size: 16px;
    margin-bottom: .5rem;
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid #111111;
    border-radius: 5px;
    padding: .5rem 1.5rem;
}

.cta-link-outline-black:hover
{
    opacity: 0.5;
}

.cta-link-pink
{
    color: #FF375F;
    font-size: 16px;
    margin-bottom: .5rem;
    transition: 0.5s;
    cursor: pointer;
}

.cta-link-pink:hover
{
    opacity: 0.5;
}

.cta-link-square-pink
{
    color: #ffffff;
    font-size: 16px;
    margin-bottom: .5rem;
    transition: 0.5s;
    cursor: pointer;
    background: #FF375F;
    border-radius: 5px;
    padding: .5rem 1.5rem;
}

.cta-link-square-pink:hover
{
    opacity: 0.5;
}

.cta-link-outline-pink
{
    color: #FF375F;
    font-size: 16px;
    margin-bottom: .5rem;
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid #FF375F;
    border-radius: 5px;
    padding: .5rem 1.5rem;
}

.cta-link-outline-pink:hover
{
    opacity: 0.5;
}

.cta-link-purple
{
    color: #5E5CE6;
    font-size: 16px;
    margin-bottom: .5rem;
    transition: 0.5s;
    cursor: pointer;
}

.cta-link-purple:hover
{
    opacity: 0.5;
}

.cta-link-square-purple
{
    color: #ffffff;
    font-size: 16px;
    margin-bottom: .5rem;
    transition: 0.5s;
    cursor: pointer;
    background: #5E5CE6;
    border-radius: 5px;
    padding: .5rem 1.5rem;
}

.cta-link-square-purple:hover
{
    opacity: 0.5;
}

.cta-link-outline-purple
{
    color: #5E5CE6;
    font-size: 16px;
    margin-bottom: .5rem;
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid #5E5CE6;
    border-radius: 5px;
    padding: .5rem 1.5rem;
}

.cta-link-outline-purple:hover
{
    opacity: 0.5;
}

/* BUTTONS AND CTA'S ENDS */

/* COMPONENTS PAGE ENDS*/

/* WRAPPERS STARTS */

/* WRAPPER INTRO */

.wrapper-intro-index
{
    background: url('/images/wrappers/shop.png');
}

/* WRAPPER INTRO ENDS */

/* WRAPPERS ENDS */

/* WRAPPER'S INITIALS STARTS */

.blur-large-section-info
{
    
    backdrop-filter: blur(40px) opacity(100%);
    -webkit-backdrop-filter: blur(40px) opacity(100%);
    -moz-backdrop-filter: blur(40px) opacity(100%);
    -o-backdrop-filter: blur(40px) opacity(100%);
    -ms-backdrop-filter: blur(40px) opacity(100%);
    width: 230px;
    height: 100%;
	border-bottom-left-radius: 10px;
	margin-left: 0rem;
	z-index: 960;
	position: absolute;
    top: 0;
    padding: 0 2.2rem;
}

.blur-squared-section-info
{
    
    backdrop-filter: blur(40px) opacity(100%);
    -webkit-backdrop-filter: blur(40px) opacity(100%);
    -moz-backdrop-filter: blur(40px) opacity(100%);
    -o-backdrop-filter: blur(40px) opacity(100%);
    -ms-backdrop-filter: blur(40px) opacity(100%);
    width: 90%;
    height: 12.5rem;
	border-radius: 15px;
	margin-bottom: 2rem;
	z-index: 960;
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2.2rem;
}

.blur-squared-list
{
    padding: 2.5rem 0;
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
}

.blur-squared-item
{
    margin-right: 1rem;
    align-items: center;
}

.blur-white
{
    background: rgba(245, 245, 245, 0.2);
}

.blur-black
{
    background: rgba(20, 20, 20, 0.55);
}

.wrapper-initial-discover
{
    background: url('/videos/winter-ski.mp4');
}

.wrapper-video-initial
{
    position: absolute;
	display: block;
	margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center;
    height: 100%;
	width: 100%;
    object-fit: cover;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    top: 0;
}

.wrapper-video-initial::-webkit-media-controls-enclosure 
{
	display: none;
	visibility: hidden;
}

.wrapper-video-initial::-webkit-media-controls-panel 
{
	display: none;
	visibility: hidden;
}

.wrapper-video-initial::-webkit-media-controls-timeline 
{
	display: none;
	visibility: hidden;
}

.wrapper-video-initial::-webkit-media-controls-volume-slider, .video-wrapper-initial::-webkit-media-controls-timeline 
{
	display: none;
	visibility: hidden;
}

.play-button-initial
{
	backdrop-filter: blur(40px) opacity(100%);
    -webkit-backdrop-filter: blur(40px) opacity(100%);
    -moz-backdrop-filter: blur(40px) opacity(100%);
    -o-backdrop-filter: blur(40px) opacity(100%);
	-ms-backdrop-filter: blur(40px) opacity(100%);
	background: rgba(20, 20, 20, 0.45);
	border-radius: 7px;
	position: absolute;
	padding: .7rem 1.5rem;
	justify-content: center;
	text-align: center;
	align-items: center;
	right: 0;
	bottom: 0;
	border: none;
	z-index: 990;
	margin-right: 3rem;
	margin-bottom: 2rem;
	cursor: pointer;
	outline: none;
}

.pause-button-initial
{
	backdrop-filter: blur(40px) opacity(100%);
    -webkit-backdrop-filter: blur(40px) opacity(100%);
    -moz-backdrop-filter: blur(40px) opacity(100%);
    -o-backdrop-filter: blur(40px) opacity(100%);
	-ms-backdrop-filter: blur(40px) opacity(100%);
	background: rgba(20, 20, 20, 0.45);
	border-radius: 7px;
	position: absolute;
	padding: .7rem 1.5rem;
	justify-content: center;
	text-align: center;
	align-items: center;
	right: 0;
	bottom: 0;
	border: none;
	z-index: 990;
	margin-right: 3rem;
	margin-bottom: 2rem;
	cursor: pointer;
    outline: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.soundon-button-initial
{
    backdrop-filter: blur(40px) opacity(100%);
    -webkit-backdrop-filter: blur(40px) opacity(100%);
    -moz-backdrop-filter: blur(40px) opacity(100%);
    -o-backdrop-filter: blur(40px) opacity(100%);
	-ms-backdrop-filter: blur(40px) opacity(100%);
	background: rgba(20, 20, 20, 0.45);
	border-radius: 7px;
	position: absolute;
	padding: .7rem 1.5rem;
	justify-content: center;
	text-align: center;
	align-items: center;
	right: 0;
	bottom: 0;
	border: none;
	z-index: 990;
	margin-right: 3rem;
	margin-bottom: 6rem;
	cursor: pointer;
    outline: none;
    display: none;
}

.muted-button-initial
{
    backdrop-filter: blur(40px) opacity(100%);
    -webkit-backdrop-filter: blur(40px) opacity(100%);
    -moz-backdrop-filter: blur(40px) opacity(100%);
    -o-backdrop-filter: blur(40px) opacity(100%);
	-ms-backdrop-filter: blur(40px) opacity(100%);
	background: rgba(20, 20, 20, 0.45);
	border-radius: 7px;
	position: absolute;
	padding: .7rem 1.5rem;
	justify-content: center;
	text-align: center;
	align-items: center;
	right: 0;
	bottom: 0;
	border: none;
	z-index: 990;
	margin-right: 3rem;
	margin-bottom: 6rem;
	cursor: pointer;
    outline: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.play-button-initial-transparent
{
    background: transparent;
	border-radius: 7px;
	position: absolute;
	padding: .7rem 1.5rem;
	justify-content: center;
	text-align: center;
	align-items: center;
	right: 0;
	bottom: 0;
	border: none;
	z-index: 990;
	margin-right: 3rem;
	margin-bottom: 3rem;
	cursor: pointer;
    outline: none;
    display: none;
}

.pause-button-initial-transparent
{
	background: transparent;
	border-radius: 7px;
	position: absolute;
	padding: .7rem 1.5rem;
	justify-content: center;
	text-align: center;
	align-items: center;
	right: 0;
	bottom: 0;
	border: none;
	z-index: 990;
	margin-right: 3rem;
	margin-bottom: 3rem;
	cursor: pointer;
    outline: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.soundon-button-initial-transparent
{
    background: transparent;
	border-radius: 7px;
	position: absolute;
	padding: .7rem 1.5rem;
	justify-content: center;
	text-align: center;
	align-items: center;
	right: 0;
	bottom: 0;
	border: none;
	z-index: 990;
	margin-right: 3rem;
	margin-bottom: 10rem;
	cursor: pointer;
    outline: none;
    display: none;
}

.muted-button-initial-transparent
{
    background: transparent;
	border-radius: 7px;
	position: absolute;
	padding: .7rem 1.5rem;
	justify-content: center;
	text-align: center;
	align-items: center;
	right: 0;
	bottom: 0;
	border: none;
	z-index: 990;
	margin-right: 3rem;
	margin-bottom: 10rem;
	cursor: pointer;
    outline: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.play-icon-initial
{
	background: url('/images/icons/media/play-icon.svg') center no-repeat;
	width: 14px;
	height: 14px;
	display: inline-block;
}

.pause-icon-initial
{
	background: url('/images/icons/media/pause-icon.svg') center no-repeat;
	width: 14px;
	height: 14px;
	display: inline-block;
}

.soundon-icon-initial
{
	background: url('/images/icons/media/soundon.svg') center no-repeat;
	width: 17px;
	height: 17px;
	display: inline-block;
}

.muted-icon-initial
{
	background: url('/images/icons/media/muted.svg') center no-repeat;
	width: 17px;
	height: 17px;
	display: inline-block;
}

.hero-initial
{
    height: 37rem;
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    width: 100%;
    position: relative;
    margin-bottom: 2rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.39);
    -webkit-box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.39);
    background: #111111;
    margin-top: -2rem;
    border: 1px solid #cecece;
}

.hero-initial-larger
{
    height: 51rem;
    position: relative;
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    width: 100%;
    margin-bottom: 2rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.39);
    -webkit-box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.39);
    margin-top: -2rem;
    border: 1px solid #cecece;
}

/* WRAPPER'S INITIALS ENDS */

/* WRAPPERS PAGE */

.container-wrapper
{
    max-width: 102rem;
    padding: 0 2.2rem;
    margin: 0 auto;
}

.column-row-wrapper-section
{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.wrapper-column-row
{
    object-fit: cover;
    border-radius: 10px;
    background-size: cover;
    background: #f0f0f0;
    height: 29.5rem;
    border: 1px solid #cecece;
    position: relative;
    box-shadow: 0px 0px 17px 1px rgba(0,0,0, 0.2);
    -webkit-box-shadow: 0px 0px 17px 1px rgba(0,0,0, 0.2);
    -moz-box-shadow: 0px 0px 17px 1px rgba(0,0,0, 0.2);
}

.wrapper-promo-harmankardon
{
    background: url('/images/wrappers/harman-kardon.png') center no-repeat;
    background-size: cover;
}

.wrapper-promo-spicebombvr
{
    background: url('/images/wrappers/spicebomb-viktorrolf.png') center no-repeat;
    background-size: cover;
}

.wrapper-promo-huaweip30
{
    background: url('/images/wrappers/huaweip30.png') center no-repeat;
    background-size: cover;
}

.wrapper-promo-ck
{
    background: url('/images/wrappers/ck-promo.jpg') center no-repeat;
    background-size: cover;
}

.wrapper-vote
{
    background: url('/images/wrappers/vote.png') center no-repeat;
    background-size: cover;
}

.wrapper-nespresso
{
    background: url('/images/wrappers/nespresso-promo.jpg') center no-repeat;
    background-size: cover;
}

.wrapper-adidas
{
    background: url('/images/wrappers/adidas-promo.png') center no-repeat;
    background-size: cover;
}

.wrapper-row-2
{
    display: flex;
}

.side-left-row-2
{
    width: 50%;
}

.side-right-row-2
{
    width: 50%;
}

.sticky-wrapper-side
{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    margin-bottom: 2rem;
}

.hero-wrappers
{
    width: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    margin-bottom: 2rem;
}

/* WRAPPERS PAGE ENDS */

/* SQUARES STARTS */

.square-column-wrap
{
    padding: 1.5rem 0;
}

.square-box-minus
{
    float: left;
    width: 45%;
    height: 90px;
    margin-right: 1rem;
    margin-bottom: 2rem;
    background: #f0f0f0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.square-box_current
{
    background: #e1eefd;
}

.cta-link-square-box
{
    cursor: pointer;
}

.cta-link-square-box:hover
{
    opacity: 0.5;
}

.cta-link-square-box:focus
{
    border: 1.5px solid #007AFF;
}

.square-column-wrap:after 
{
    content: "";
    display: table;
    clear: both;
}

.square-block-minus
{
    background: #f0f0f0;
    border: 1px solid #dddddd;
    height: 100px;
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.square-block-big
{
    background: #f0f0f0;
    border: 1px solid #dddddd;
    height: 400px;
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* SQAURES ENDS */

/* BUTTERS STARTS */

.cta-section-butter-link
{
	transition: 0.5s linear;
	cursor: pointer;
}

.flex-butter-sections
{
	display: flex;
	align-items: center;
}

.wrapper-butter-section-initial
{
	background: url('/images/wrappers/especific-credit.png');
	border-radius: 10px;
	position: relative;
}

.wrapper-butter-section
{
	background: #ffffff;
	border-radius: 10px;
	position: relative;
}

.wrapper-butter-section-2
{
	background: url('/images/wrappers/credit-lite.png');
	border-radius: 10px;
	position: relative;
}

.wrapper-butter-section-trend
{
	background: url('/images/wrappers/best-credit.png');
	border-radius: 10px;
	position: relative;
}

.wrapper-butter-section-calc
{
	background: url('/images/wrappers/calc-wrap.png');
	border-radius: 10px;
	position: relative;
}

.wrapper-butter-section-travel
{
	background: url('/images/wrappers/travel-egypt.jpg');
	border-radius: 10px;
	position: relative;
}

.wrapper-image-format
{
	width: 100%;
	bottom: 0;
	position: absolute;
	pointer-events: none;
	border-radius: 10px;
	z-index: 1;
}

.icon-bottom-butter
{
	width: 55px;
	max-width: 100%;
	max-height: 100%;
	pointer-events: none;
}


.bottom-butter-menu
{
	background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(45px) opacity(100%);
    -webkit-backdrop-filter: blur(45px) opacity(100%);
    -moz-backdrop-filter: blur(45px) opacity(100%);
    -o-backdrop-filter: blur(45px) opacity(100%);
	-ms-backdrop-filter: blur(45px) opacity(100%);
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	z-index: 700;
}

.bottom-butter-menu-solid
{
	background: #ffffff;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	z-index: 700;
}

.bottom-butter-menu-2
{
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 700;
	margin-bottom: 1rem;
}

.bottom-butter-menu-list
{
	padding: 2.5rem 1.5rem;
	justify-content: space-between;
	display: flex;
    align-items: center;
}

.bottom-butter-menu-item
{
    right: 0;
}

.bottom-butter-menu-item-flex
{
	display: flex;
    align-items: center;
    left: 0;
    width: 100%;
}

.grid-title-bottom-butter
{
	display: grid;
	margin-left: .5rem;
}

.title-butter-menu
{
	color: #ffffff;
	font-weight: normal;
	font-size: 18px;
	margin-bottom: .2rem;
	max-width: 150px;
}

.title-sub-butter-menu
{
	color: #e0e0e0;
	font-weight: lighter;
	font-size: 16.5px;
	max-width: 140px;
}

.cta-button-more-butter
{
	background: #007AFF;
	border-radius: 100px;
	padding: 0.5rem 1.5rem;
	color: #ffffff;
	font-size: 16px;
	display: inline-block;
	width: 60px;
	justify-content: center;
	cursor: pointer;
	transition: 0.5s;
}

.cta-button-more-butter:hover
{
	opacity: 0.5;
}

.cta-button-more-butter-blured
{
	background: rgba(243, 243, 243, 0.55);
	border-radius: 100px;
	padding: 0.5rem 1.5rem;
	color: #007AFF;
	font-size: 16px;
	display: inline-block;
	width: 60px;
	justify-content: center;
	cursor: pointer;
	transition: 0.5s;
}

.cta-button-more-butter-blured-dark
{
	background: rgba(0, 0, 0, 0.55);
}

.cta-button-more-butter-blured:hover
{
	opacity: 0.5;
}

.cta-blur-back-butter
{
	background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(45px) opacity(100%);
    -webkit-backdrop-filter: blur(45px) opacity(100%);
    -moz-backdrop-filter: blur(45px) opacity(100%);
    -o-backdrop-filter: blur(45px) opacity(100%);
	-ms-backdrop-filter: blur(45px) opacity(100%);
	border-radius: 100px;
	padding: 0.5rem 1.5rem;
	justify-content: center;
}

.cta-blur-back-butter-dark
{
	background: rgba(0, 0, 0, 0.267);
    backdrop-filter: blur(45px) opacity(100%);
    -webkit-backdrop-filter: blur(45px) opacity(100%);
    -moz-backdrop-filter: blur(45px) opacity(100%);
    -o-backdrop-filter: blur(45px) opacity(100%);
	-ms-backdrop-filter: blur(45px) opacity(100%);
	border-radius: 100px;
	padding: 0.5rem 1.5rem;
	justify-content: center;
}

.cta-button-more-butter-blur
{
	color: #ffffff;
	font-size: 16px;
}

.cta-button-more-butter-blur-dark
{
	color: #111111;
	font-size: 16px;
}

.left-space-butter
{
	margin-left: 2rem;
}

.butter-small-over
{
    width: 32%;
    height: 13rem;
    border-radius: 10px;
    float: left;
    position: relative;
    background: #141414;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.butter-small-electronic
{
    background: url('/images/wrappers/electronics.png') center no-repeat;
    background-size: cover;
    object-fit: cover;
}

.butter-small-fashion
{
    background: url('/images/wrappers/fashion.png') center no-repeat;
    background-size: cover;
    object-fit: cover;
}

.butter-small-home
{
    background: url('/images/wrappers/home.png') center no-repeat;
    background-size: cover;
    object-fit: cover;
}

.butter-small-electrodomestics
{
    background: url('/images/wrappers/electrodomestics.png') center no-repeat;
    background-size: cover;
    object-fit: cover;
}

.butter-small-books
{
    background: url('/images/wrappers/books.png') center no-repeat;
    background-size: cover;
    object-fit: cover;
}

.butter-small-supermarket
{
    background: url('/images/wrappers/supermarket.png') center no-repeat;
    background-size: cover;
    object-fit: cover;
}

.butter-row-columns:after
{
    content: "";
    display: table;
    clear: both;
}

.hero-butter
{
	height: 50.5rem;
	background-size: auto 73.6rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 2rem;
	-webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.25);
	width: 50%;
	cursor: pointer;
	transition: 0.5s;
	overflow: hidden;
}

.hero-butter:hover
{
	-webkit-box-shadow: 0px 0px 97px 0px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 0px 97px 0px rgba(0,0,0,0.20);
	box-shadow: 0px 0px 97px 0px rgba(0,0,0,0.20);
}

.hero-butter-max
{
    width: 100%;
    height: 100%;
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.butter-wrap-3
{
    float: left;
    width: 32.33%;
    margin-right: 1rem;
    height: 39rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background: #f1f1f1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
    position: relative;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 97px 0px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 0px 97px 0px rgba(0,0,0,0.20);
    box-shadow: 0px 0px 97px 0px rgba(0,0,0,0.20);
}

.butter-wrap-3-preview
{
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.butter-wrap-3-preview:hover .preview-sheet
{
    display: block;
}

.lelabo-butter
{
    background: url('/images/wrappers/lelabo.jpg') center no-repeat;
    background-size: cover;
}

.clean-butter
{
    background: url('/images/wrappers/best-clean.png') center no-repeat;
    background-size: cover;
}

.butter-row-3:after 
{
    content: "";
    display: table;
    clear: both;
}

.foot-butter
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(45px) opacity(100%);
    -webkit-backdrop-filter: blur(45px) opacity(100%);
    -moz-backdrop-filter: blur(45px) opacity(100%);
    -o-backdrop-filter: blur(45px) opacity(100%);
    -ms-backdrop-filter: blur(45px) opacity(100%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.foot-butter-list
{
    padding: 1rem 1.5rem;
}

.preview-sheet
{
    background: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(45px) opacity(100%);
    -webkit-backdrop-filter: blur(45px) opacity(100%);
    -moz-backdrop-filter: blur(45px) opacity(100%);
    -o-backdrop-filter: blur(45px) opacity(100%);
    -ms-backdrop-filter: blur(45px) opacity(100%);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    width: 70rem;
    height: 55rem;
    border: 1px solid #4b4b4b;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 1100;
    margin-right: 20rem;
    margin-bottom: -10rem;
    display: none;
    overflow: auto;
}

.header-preview-sheet
{
    position: sticky;
    position: -webkit-sticky;
    border-bottom: 1px solid #333333;
    display: block;
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(45px) opacity(100%);
    -webkit-backdrop-filter: blur(45px) opacity(100%);
    -moz-backdrop-filter: blur(45px) opacity(100%);
    -o-backdrop-filter: blur(45px) opacity(100%);
    -ms-backdrop-filter: blur(45px) opacity(100%);
    top: 0;
}

.header-preview-sheet-list
{
    padding: 1rem 1rem;
}

.body-preview-sheet-list
{
    padding: 2rem 2.2rem;
}

.store-ubication-image
{
    width: 600px;
    pointer-events: none;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px solid #333333;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 1358px)
{
    .butter-wrap-3
    {
        float: left;
        width: 48.6%;
        margin-right: 1rem;
        height: 39rem;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        background: #101010;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 2rem;
        position: relative;
    } 

    .lelabo-butter
    {
        background: url('/images/wrappers/lelabo.jpg') center no-repeat;
        background-size: cover;
    }

    .clean-butter
    {
        background: url('/images/wrappers/best-clean.png') center no-repeat;
        background-size: cover;
    }
}

@media screen and (max-width: 1088px)
{
    .butter-wrap-3
    {
        float: left;
        width: 100%;
        margin-right: 1rem;
        height: 39rem;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        background: #101010;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 2rem;
        position: relative;
    } 

    .lelabo-butter
    {
        background: url('/images/wrappers/lelabo.jpg') center no-repeat;
        background-size: cover;
    }

    .clean-butter
    {
        background: url('/images/wrappers/best-clean.png') center no-repeat;
        background-size: cover;
    }
} 

/* BUTTERS ENDS */

/* SWIPER SLIDER */

.swiper-container
{
    width: 100%;
    margin-top: -3rem;
}

.swiper-wrapper
{
    width: 100%;
}

.swiper-slide
{
    background: #f1f1f1;
    border-radius: 10px;
    height: 37rem;
    width: 55rem;
    justify-content: center;
    position: relative;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.20);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.20);
}

.swiper-slide-footer
{
    background: #ffffff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    bottom: 0;
    padding: 1rem 0;
    width: 100%;
    position: absolute;
}

.swiper-slide-footer-list
{
    display: flex;
    align-items: center;
}

.swiper-slide-footer-item
{
    margin-right: 1rem;
}

.swiper-slide-footer-blur
{
    background: rgba(255, 255, 255, 0.45);
    backdrop-filter: blur(45px) opacity(100%);
    -webkit-backdrop-filter: blur(45px) opacity(100%);
    -moz-backdrop-filter: blur(45px) opacity(100%);
    -o-backdrop-filter: blur(45px) opacity(100%);
	-ms-backdrop-filter: blur(45px) opacity(100%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    bottom: 0;
    padding: 1rem 0;
    width: 100%;
    position: absolute;
}

.swiper-slide-footer-blur-darker
{
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(45px) opacity(100%);
    -webkit-backdrop-filter: blur(45px) opacity(100%);
    -moz-backdrop-filter: blur(45px) opacity(100%);
    -o-backdrop-filter: blur(45px) opacity(100%);
	-ms-backdrop-filter: blur(45px) opacity(100%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    bottom: 0;
    padding: 1rem 0;
    width: 100%;
    position: absolute;
}

.swiper-slide-footer-darker
{
    background: #111111;
}

.swiper-slide-market
{
    background: url('/images/wrappers/blueberry-market.jpg') center no-repeat;
    background-size: cover;
    object-fit: cover;
}

.swiper-slide-playstation
{
    background: url('/images/wrappers/playstation-img.jpg') center no-repeat;
    background-size: cover;
    object-fit: cover;
}

.swiper-slide-bestkeyboards
{
    background: url('/images/wrappers/best-keyboards.png') center no-repeat;
    background-size: cover;
    object-fit: cover;
}

.swiper-slide-bestsmartphones
{
    background: url('/images/wrappers/best-smartphones.png') center no-repeat;
    background-size: cover;
    object-fit: cover;
}

.swiper-slide-samsungscreens
{
    background: url('/images/wrappers/samsung-screen4k.png') center no-repeat;
    background-size: cover;
    object-fit: cover;
}

.swiper-slide-bestbooks
{
    background: url('/images/wrappers/best-books.png') center no-repeat;
    background-size: cover;
    object-fit: cover;
}

.swiper-slide-efficiency
{
    background: url('/images/wrappers/efficiency.png') center no-repeat;
    background-size: cover;
    object-fit: cover;
}

.swiper-slide-bestfashion
{
    background: url('/images/wrappers/best-fashion.png') center no-repeat;
    background-size: cover;
    object-fit: cover;
}

.swiper-slide-bestsmartwatch
{
    background: url('/images/wrappers/best-smartwatch.png') center no-repeat;
    background-size: cover;
    object-fit: cover;
}

.swiper-slide-bestdrinks
{
    background: url('/images/wrappers/best-drinks.png') center no-repeat;
    background-size: cover;
    object-fit: cover;
}

.swiper-button-prev
{
    z-index: 1200;
    position: absolute;
    left: 0;
    margin-left: -2.5rem;
    width: 10px;
    outline: none;
}

.swiper-button-next
{
    z-index: 1200;
    position: absolute;
    right: 0;
    margin-right: -2.5rem;
    outline: none;
    width: 10px;
}

.hero-swiper
{
    height: 45rem;
    position: relative;
}

/* SWIPER SLIDER ENDS */

/* FOOTER STARTS */

.footer-page
{
    height: auto;
    border-top: 1px solid #cecece;
    width: 100%;
    justify-content: center;
    align-content: center;
}

.footer-page-list
{
    padding: 2rem 0;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.footer-page-item
{
    padding: 1.5rem 0;
    border-top: 1px solid #dadada;
}

/* FOOTER ENDS */

@media screen and (max-width: 768px)
{
	.swiper-container
	{
		margin-bottom: 5rem;
		z-index: 10;
		position: relative;
	}
	
	.swiper-slide
	{
		width: 22rem;
		height: 35rem;
		background-color: rgba(0, 0, 0, 0.863);
		border-radius: 2rem;
		margin-top: 3rem;
		position: relative;
	}
	
	.ac-wrap-product
	{
		display: flex;
		align-items: center;
		justify-content: center;
		bottom: 0;
		z-index: -1400;
	}
	
	.ac-title-card
	{
		text-align: center;
		margin-top: 1rem;
	}
	
	.ac-amount-title
	{
		margin-top: 2.3rem;
		color: #0064CC;
		font-size: 2rem;
	}
	
	.ac-title-specs
	{
		margin-top: 3rem;
		text-align: left;
		padding: 0 2rem;
	}
	
	.ac-title-sub-heading
	{
		font-size: 1.6rem;
		color: #777;
		margin-bottom: 1rem;
	}
	
	.ac-person-spec
	{
		margin-top: 2.4rem;
		text-align: center;
	}
	
	.ac-person-name
	{
		color: #0064CC;
		font-size: 1.9rem;
	}
	
	.ac-sun-spec
	{
		margin-top: 1.5rem;
	}
	
	.sun-icon
	{
		background: url('../images/sun-sign/sun.svg') no-repeat center;
		width: 3.5rem;
		height: 3.5rem;
		display: inline-block;
	}
	
	.ac-cta
	{
		display: block;
		margin-left: auto;
		margin-right: auto;
		position: absolute;
		bottom: 0;
		align-content: center;
		text-align: center;
		margin-bottom: 4.5rem;
		left: 0;
		right: 0;
	}
	
	.cta-link-card
	{
		align-content: center;
		text-align: center;
		border: none;
		font-size: 1.7rem;
		color: #0064CC;
		background-color: rgba(255,255,255,.15);
		border-radius: 90px; 
		transition: 0.5s;
		display: inline-block;
		padding: 10px 70px;
		
	}
	
	.cta-link-card:hover
	{
		background-color: rgba(255,255,255,.9);
		  backdrop-filter: blur(4rem);
		  -webkit-backdrop-filter: blur(4rem);
	}
}

/* SWIPES ENDS */

/* TILES STARTS */

.tile-squared
{
    width: 60rem;
    height: 42rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    position: absolute;
    margin-top: 7rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.icon-continental-index
{
    width: 80px;
    max-height: 100%;
    max-width: 100%;
    pointer-events: none;
    margin-bottom: .5rem;
}

/* TILES ENDS */

/* IMAGES STARTS */

.image-product-showed
{
    width: 460px;
    max-height: 100%;
    max-width: 100%;
    pointer-events: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50rem;
}

/* IMAGES ENDS */

/* MUL STORIES STARTS */

.mul-stories
{
    padding: 2rem 0rem;
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

.mul-stories-list
{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.mul-stories-item
{
    text-align: center;
    margin-left: 1.5rem;
    justify-content: center;
    align-items: center;
}

.ring-stories
{
    background: rgb(255,180,29);
    background: -moz-linear-gradient(141deg, rgba(255,180,29,1) 0%, rgba(57,173,233,1) 55%, rgba(128,255,192,1) 100%);
    background: -webkit-linear-gradient(141deg, rgba(255,180,29,1) 0%, rgba(57,173,233,1) 55%, rgba(128,255,192,1) 100%);
    background: linear-gradient(141deg, rgba(255,180,29,1) 0%, rgba(57,173,233,1) 55%, rgba(128,255,192,1) 100%);
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -ms-border-radius: 200px;
    -o-border-radius: 200px;
    width: 90px;
    height: 90px;
    margin-bottom: 1.5rem;
    display: block;
}

.profile-ring-storie
{
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -ms-border-radius: 200px;
    -o-border-radius: 200px;
    width: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: .6rem;
    justify-content: center;
}

.mul-stories-item .title-sub-heading-extra-minus
{
    max-width: 90px;
    text-overflow:ellipsis;
    white-space:nowrap; 
    overflow:hidden; 
}

.cta-link-slider-left
{
    position: absolute;
    left: 0;
    background: url('/images/icons/arrows/arrow-left-slider.svg') center no-repeat;
    display: block;
    width: 20px;
    height: 70px;
    margin-left: -3rem;
    margin-top: 3rem;
    z-index: 900;
    cursor: pointer;
    transition: 0.5s;
}

.cta-link-slider-left:hover
{
    opacity: 0.5;
}

.cta-link-slider-right
{
    position: absolute;
    right: 0;
    background: url('/images/icons/arrows/arrow-right-slider.svg') center no-repeat;
    display: block;
    width: 20px;
    height: 70px;
    margin-right: -3rem;
    margin-top: 3rem;
    z-index: 900;
    cursor: pointer;
    transition: 0.5s;
}

.cta-link-slider-right:hover
{
    opacity: 0.5;
}


/* MUL STORIES ENDS */

/* COLORS STARTS */

.color-available-product
{
    justify-content: center;
    text-align: center;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.color-product-list
{
    display: flex;
    align-items: center;
    padding: 1rem 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.color-product-item
{
    padding: 1rem;
    align-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.color-bullet
{
    border: 1px solid #777777;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    width: 30px;
    height: 30px;
    display: block;
    margin-bottom: .5rem;
}

.white-color-bullet
{
    background: #f7f7f7;
}

.black-color-bullet
{
    background: #0e0e0e;
}

.blue-king-color-bullet
{
    background: #000549;
}

/* COLORS ENDS */

/* HERO'S START */

.hero
{
    height: 100%;
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    width: 100%;
    position: relative;
}

.hero-basic
{
    height: 62.5rem;
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

/* HERO'S ENDS */