.suscribe-sheet
{
    background: #ffffff;
    border: 1px solid #cecece;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 42rem;
    max-width: 42rem;
    height: 50rem;
    z-index: 1900;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.25);
}

.suscribe-box
{
    position: relative;
    width: 100%;
    height: 100%;
}

.suscribe-header-mask
{
    height: 22.5rem;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    -moz-backdrop-filter: blur(25px);
    -o-backdrop-filter: blur(25px);
    -ms-backdrop-filter: blur(25px);
    position: relative;
    top: 0;
    left: 0;
}

.suscribe-header
{
    background: url('/images/banners/lacoste-banner.jpg') center no-repeat;
    background-size: cover;
    height: 22.5rem;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.suscribe-header-list
{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 3rem 0;
}

.suscribe-header-item
{
    padding: 1rem 0rem;
}

.icon-mark-suscribe
{
    width: 115px;
    pointer-events: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.25);
}

.icon-sub-suscribe
{
    width: 85px;
    pointer-events: none;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}